// $white: #ffffff;
:root {

    --transparent: transparent;
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --current: currentColor;

    // COLOR GRAY //
    // At color-gray-600 - Nearing end of #600 //
    // --gray: #f9fafb;
    --gray-50: hsl(0, 0%, 90%);
    --gray-100: hsl(0, 0%, 85%);
    --gray-200: hsl(0, 0%, 80%);
    --gray-300: hsl(0, 0%, 70%);
    --gray-400: hsl(0, 0%, 65%);
    --gray-500: hsl(0, 0%, 50%);
    --gray-600: hsl(0, 0%, 34%);
    --gray-700: hsl(0, 0%, 27%);
    --gray-800: hsl(0, 0%, 17%);
    --gray-900: hsl(0, 0%, 11%);

    // --gray-ccc: #cccccc;
    // --gray-light: #fafbfc;
    // --gray-medium: #808080;
    // --gray: #f6f8fa;
    // --gray-dark: #24292e;

    // --bg-gray-ccc: #cccccc;
    // --bg-gray-light: #fafbfc;
    // --bg-gray-medium: #808080;
    // --bg-gray: #f6f8fa;
    // --bg-gray-dark: #24292e;

    // COLOR BLUE //
    // --blue-50: hsl(214, 100%, 95%);
    --blue-50: hsl(214, 100%, 90%);
    --blue-100: hsl(214, 100%, 85%);
    --blue-200: hsl(214, 100%, 80%);
    --blue-300: hsl(214, 100%, 70%);
    --blue-400: hsl(214, 100%, 65%);
    --blue-500: hsl(240, 100%, 50%);
    --blue-600: hsl(240, 100%, 38%);
    --blue-700: hsl(240, 100%, 27%);
    --blue-800: hsl(215, 100%, 17%);
    --blue-900: hsl(221, 100%, 11%);

    // --blue-50: #EFF6FF;
    // --blue-el: #F0F4FB;
    // --blue-light: #f1f8ff;
    // --blue: #0366d6; //
    // --blue: #0000ff;

    // --bg-blue-50: #EFF6FF;
    // --bg-blue-el: #F0F4FB;
    // --bg-blue-light: #f1f8ff;
    // --bg-blue: #0366d6;

    // COLOR GREEN //
    // --green-el: #ddffdd;
    // --green-light: #dcffe4;
    // --green-dark: #28a745;
    // --green: #008000;

    --green-50: hsl(120, 100%, 90%);
    --green-100: hsl(120, 100%, 85%);
    --green-200: hsl(120, 100%, 80%);
    --green-300: hsl(120, 100%, 70%);
    --green-400: hsl(120, 100%, 65%);
    --green-500: hsl(120, 100%, 50%);
    --green-600: hsl(120, 100%, 38%);
    --green-700: hsl(120, 100%, 27%);
    --green-800: hsl(120, 100%, 25%);
    --green-900: hsl(120, 100%, 11%);

    // --bg-green-el: #ddffdd;
    // --bg-green-light: #dcffe4;
    // --bg-green-dark: #28a745;
    // --bg-green: #008000;
    // $green: hsl(120, 100%, 25%); //

    // COLOR PURPLE //
    // --purple-light: #f5f0ff;
    // --purple: #6f42c1;

    --purple-50: hsl(260, 100%, 90%);
    --purple-100: hsl(260, 100%, 85%);
    --purple-200: hsl(260, 100%, 75%);
    --purple-300: hsl(260, 100%, 70%);
    --purple-400: hsl(260, 100%, 65%);
    --purple-500: hsl(260, 100%, 50%);
    --purple-600: hsl(260, 100%, 38%);
    --purple-700: hsl(260, 100%, 27%);
    --purple-800: hsl(260, 100%, 17%);
    --purple-900: hsl(260, 100%, 11%);

    // --bg-purple-light: #f5f0ff;
    // --bg-purple: #6f42c1;

    // COLOR YELLOW //
    // --yellow-el: #fffff0;
    // --yellow-light: #fff5b1;
    // --yellow-mastard: #fff000;
    // --yellow-ld: #ffd33d;
    // --yellow-dark: #dbab09;
    // --yellow: #ffff00;

    // Tramdroming #COLOR; TO HSL(); ARENA //
    --yellow-50: hsl(60, 100%, 90%);
    --yellow-100: hsl(60, 100%, 85%);
    --yellow-200: hsl(60, 100%, 75%);
    --yellow-300: hsl(60, 100%, 70%);
    --yellow-400: hsl(60, 100%, 65%);
    --yellow-500: hsl(60, 100%, 50%);
    --yellow-600: hsl(60, 100%, 38%);
    --yellow-700: hsl(60, 100%, 27%);
    --yellow-800: hsl(60, 100%, 17%);
    --yellow-900: hsl(60, 100%, 11%);
    // --yellow-: #dbab09;
    // --yellow-: #ffff00;

    // --bg-yellow-el: #fffff0;
    // --bg-yellow-light: #fff5b1;
    // --bg-yellow-mastard: #fff000;
    // --bg-yellow-ld: #ffd33d;
    // --bg-yellow-dark: #dbab09;
    // --bg-yellow: #ffff00;

    // COLOR ORANGE //
    // --orange: hsl(24, 96%, 42%);
    // --orange: hsl(39, 100%, 50%); //

    --orange-50: hsl(39, 100%, 90%);
    --orange-100: hsl(39, 100%, 85%);
    --orange-200: hsl(39, 100%, 75%);
    --orange-300: hsl(39, 100%, 70%);
    --orange-400: hsl(39, 100%, 65%);
    --orange-500: hsl(39, 100%, 50%);
    --orange-600: hsl(39, 100%, 38%);
    --orange-700: hsl(39, 100%, 27%);
    --orange-800: hsl(39, 100%, 17%);
    --orange-900: hsl(39, 100%, 11%);

    // --bg-orange: #d15704;

    // COLOR RED //
    // --red-el: #ffdddd;
    // --red-light: #ffeef0;
    // --red: #ff0000;

    --red-50: hsl(353, 100%, 90%);
    --red-100: hsl(353, 100%, 85%);
    --red-200: hsl(353, 100%, 75%);
    --red-300: hsl(353, 100%, 70%);
    --red-400: hsl(353, 100%, 65%);
    --red-500: hsl(353, 100%, 50%);
    --red-600: hsl(353, 100%, 38%);
    --red-700: hsl(353, 100%, 27%);
    --red-800: hsl(353, 100%, 17%);
    --red-900: hsl(353, 100%, 11%);

    // --bg-red-el: #ffdddd;
    // --bg-red-light: #ffeef0;
    // --bg-red: #ff0000;

    // COLOR PINK //
    // --pink: #ea4aaa;
    // $pink: hsl(350, 100%, 88%); //
    // $hpink: hsl(330, 100%, 71%); //

    --pink-50: hsl(324, 100%, 90%);
    --pink-100: hsl(324, 100%, 85%);
    --pink-200: hsl(324, 100%, 80%);
    --pink-300: hsl(324, 100%, 71%);
    --pink-400: hsl(324, 100%, 65%);
    --pink-500: hsl(324, 100%, 50%);
    --pink-600: hsl(324, 100%, 38%);
    --pink-700: hsl(324, 100%, 27%);
    --pink-800: hsl(324, 100%, 17%);
    --pink-900: hsl(324, 100%, 11%);

    // --bg-pink: #ea4aaa;

    // COLOR INDIGO //
    --indigo-50: hsl(226, 100%, 90%);
    --indigo-100: hsl(226, 100%, 85%);
    --indigo-200: hsl(226, 100%, 80%);
    --indigo-300: hsl(226, 100%, 70%);
    --indigo-400: hsl(226, 100%, 65%);
    --indigo-500: hsl(226, 100%, 50%);
    --indigo-600: hsl(226, 100%, 38%);
    --indigo-700: hsl(226, 100%, 27%);
    --indigo-800: hsl(226, 100%, 17%);
    --indigo-900: hsl(226, 100%, 11%);

    // FONT-FAMILY ARENA //
    --arial: Arial, Helvetica, sans-serif;
    --cambria: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --georgia: Georgia, 'Times New Roman', Times, serif;
    --impact: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --verdana: Verdana, Geneva, Tahoma, sans-serif;
    --cursive: cursive;
    --fantasy: fantasy;
    --monospace: monospace;
    --sans-serif: sans-serif;
    --serif: serif;
    --sans-apple: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    // UPPERCASE & LOWERCASE ARENA //
    --capitalize: capitalize;
    --lowercase: lowercase;
    --none: none;
    --uppercase: uppercase;

    // FONT-WEIGHT ARENA //
    --thin: 100;
    --extralight: 200;
    --light: 300;
    --normal: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 800;
    --black: 900;
    // --bold: font-weight: bold;
    // --bolder: font-weight: bolder;

    // FONT-ITALIC ARENA //
    --italic: italic;
    --normal: normal;
    --oblique: oblique;

    // DEFAULT FONT-SIZE ARENA //
    --smaller: smaller;
    --small: small;
    --xsmall: x-small;
    --xxsmall: xx-small;
    --medium: medium;
    --larger: larger;
    --large: large;
    --xlarge: x-large;
    --xxlarge: xx-large;
    // !

    // BORDER/RADIUS
    $radius-full: 50%;
    $radius-2px: 2px;
    $radius-50: 50;
    $radius-2rem: 2rem;
    $radius-2em: .2em;

    $border-1px: 1px solid var(--black);
    $border-2px: 2px solid var(--black);
    $border-3px: 3px solid var(--black);
    $border-4px: 4px solid var(--black);

    // --html: font-family: Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {

    margin: 0;
    padding: 0;
    list-style: none;
    list-style-type: none;
    text-decoration: none;

}




// FROM KEVIN POWELL CSS YOUTUBE CHANNEL //
    // .text-gray-\# { color: ; }
    // .bg-gray-\# { background-color: ; }

    // --gray: {
    //     100: {
    //         color: #f6f8fa;
    //     },
    //     200: {
    //         color: #f6f8fa;
    //     },
    //     300: {
    //         color: #f6f8fa;
    //     },
    // };