.text-center { text-align: center; }

.text-white { color: var(--white); }
.text-black { color: var(--black); }

.bg-white { background-color: var(--white); }
.bg-black { background-color: var(--black); }