// CURSOR ARENA //
.cursor {
    &-alias { cursor: alias; }
    &-all-scroll { cursor: all-scroll; }
    &-auto { cursor: auto; }
    &-cell { cursor: cell; }
    &-col-resize { cursor: col-resize; }
    &-context-menu { cursor: context-menu; }
    &-col-copy { cursor: copy; }
    &-crosshair { cursor: crosshair; }
    &-default { cursor: default; }
    &-e-resize { cursor: e-resize; }
    &-grab { cursor: grab; }
    &-grabbing { cursor: grabbing; }
    &-help { cursor: help; }
    &-move { cursor: move; }
    &-n-resize { cursor: n-resize; }
    &-ne-resize { cursor: ne-resize; }
    &-nesw-resize { cursor: nesw-resize; }
    &-no-drop { cursor: no-drop; }
    &-none { cursor: none; }
    &-not-allowed { cursor: not-allowed; }
    &-ns-resize { cursor: ns-resize; }
    &-nw-resize { cursor: nw-resize; }
    &-nwse-resize { cursor: nwse-resize; }
    &-pointer { cursor: pointer; }
    &-progress { cursor: progress; }
    &-row-resize { cursor: row-resize; }
    &-s-resize { cursor: s-resize; }
    &-se-resize { cursor: se-resize; }
    &-sw-resize { cursor: sw-resize; }
    &-text { cursor: text; }
    &-vertical-text { cursor: vertical-text; }
    &-w-resize { cursor: w-resize; }
    &-wait { cursor: wait; }
    &-zoom-in { cursor: zoom-in; }
    &-zoom-out { cursor: zoom-out; }
    &-moz-grab { cursor: -moz-grab; }
    &-moz-grabbing { cursor: -moz-grabbing; }
    &-moz-zoom-in { cursor: -moz-zoom-in; }
    &-moz-zoom-out { cursor: -moz-zoom-out; }
    &-webkit-grab { cursor: -webkit-grab; }
    &-webkit-grabbing { cursor: -webkit-grabbing; }
    &-webkit-zoom-in { cursor: -webkit-zoom-in; }
    &-webkit-zoom-out { cursor: -webkit-zoom-out; }
    &-inherit { cursor: inherit; }
    &-initial { cursor: initial; }
    &-unset { cursor: unset; }
}

@media (max-width: 640px) {
    .sm\:cursor {
        &-alias { cursor: alias; }
        &-all-scroll { cursor: all-scroll; }
        &-auto { cursor: auto; }
        &-cell { cursor: cell; }
        &-col-resize { cursor: col-resize; }
        &-context-menu { cursor: context-menu; }
        &-col-copy { cursor: copy; }
        &-crosshair { cursor: crosshair; }
        &-default { cursor: default; }
        &-e-resize { cursor: e-resize; }
        &-grab { cursor: grab; }
        &-grabbing { cursor: grabbing; }
        &-help { cursor: help; }
        &-move { cursor: move; }
        &-n-resize { cursor: n-resize; }
        &-ne-resize { cursor: ne-resize; }
        &-nesw-resize { cursor: nesw-resize; }
        &-no-drop { cursor: no-drop; }
        &-none { cursor: none; }
        &-not-allowed { cursor: not-allowed; }
        &-ns-resize { cursor: ns-resize; }
        &-nw-resize { cursor: nw-resize; }
        &-nwse-resize { cursor: nwse-resize; }
        &-pointer { cursor: pointer; }
        &-progress { cursor: progress; }
        &-row-resize { cursor: row-resize; }
        &-s-resize { cursor: s-resize; }
        &-se-resize { cursor: se-resize; }
        &-sw-resize { cursor: sw-resize; }
        &-text { cursor: text; }
        &-vertical-text { cursor: vertical-text; }
        &-w-resize { cursor: w-resize; }
        &-wait { cursor: wait; }
        &-zoom-in { cursor: zoom-in; }
        &-zoom-out { cursor: zoom-out; }
        &-moz-grab { cursor: -moz-grab; }
        &-moz-grabbing { cursor: -moz-grabbing; }
        &-moz-zoom-in { cursor: -moz-zoom-in; }
        &-moz-zoom-out { cursor: -moz-zoom-out; }
        &-webkit-grab { cursor: -webkit-grab; }
        &-webkit-grabbing { cursor: -webkit-grabbing; }
        &-webkit-zoom-in { cursor: -webkit-zoom-in; }
        &-webkit-zoom-out { cursor: -webkit-zoom-out; }
        &-inherit { cursor: inherit; }
        &-initial { cursor: initial; }
        &-unset { cursor: unset; }
    }
}

@media (max-width: 768px) {
    .md\:cursor {
        &-alias { cursor: alias; }
        &-all-scroll { cursor: all-scroll; }
        &-auto { cursor: auto; }
        &-cell { cursor: cell; }
        &-col-resize { cursor: col-resize; }
        &-context-menu { cursor: context-menu; }
        &-col-copy { cursor: copy; }
        &-crosshair { cursor: crosshair; }
        &-default { cursor: default; }
        &-e-resize { cursor: e-resize; }
        &-grab { cursor: grab; }
        &-grabbing { cursor: grabbing; }
        &-help { cursor: help; }
        &-move { cursor: move; }
        &-n-resize { cursor: n-resize; }
        &-ne-resize { cursor: ne-resize; }
        &-nesw-resize { cursor: nesw-resize; }
        &-no-drop { cursor: no-drop; }
        &-none { cursor: none; }
        &-not-allowed { cursor: not-allowed; }
        &-ns-resize { cursor: ns-resize; }
        &-nw-resize { cursor: nw-resize; }
        &-nwse-resize { cursor: nwse-resize; }
        &-pointer { cursor: pointer; }
        &-progress { cursor: progress; }
        &-row-resize { cursor: row-resize; }
        &-s-resize { cursor: s-resize; }
        &-se-resize { cursor: se-resize; }
        &-sw-resize { cursor: sw-resize; }
        &-text { cursor: text; }
        &-vertical-text { cursor: vertical-text; }
        &-w-resize { cursor: w-resize; }
        &-wait { cursor: wait; }
        &-zoom-in { cursor: zoom-in; }
        &-zoom-out { cursor: zoom-out; }
        &-moz-grab { cursor: -moz-grab; }
        &-moz-grabbing { cursor: -moz-grabbing; }
        &-moz-zoom-in { cursor: -moz-zoom-in; }
        &-moz-zoom-out { cursor: -moz-zoom-out; }
        &-webkit-grab { cursor: -webkit-grab; }
        &-webkit-grabbing { cursor: -webkit-grabbing; }
        &-webkit-zoom-in { cursor: -webkit-zoom-in; }
        &-webkit-zoom-out { cursor: -webkit-zoom-out; }
        &-inherit { cursor: inherit; }
        &-initial { cursor: initial; }
        &-unset { cursor: unset; }
    }
}

@media (min-width: 1024px) {
    .lg\:cursor {
        &-alias { cursor: alias; }
        &-all-scroll { cursor: all-scroll; }
        &-auto { cursor: auto; }
        &-cell { cursor: cell; }
        &-col-resize { cursor: col-resize; }
        &-context-menu { cursor: context-menu; }
        &-col-copy { cursor: copy; }
        &-crosshair { cursor: crosshair; }
        &-default { cursor: default; }
        &-e-resize { cursor: e-resize; }
        &-grab { cursor: grab; }
        &-grabbing { cursor: grabbing; }
        &-help { cursor: help; }
        &-move { cursor: move; }
        &-n-resize { cursor: n-resize; }
        &-ne-resize { cursor: ne-resize; }
        &-nesw-resize { cursor: nesw-resize; }
        &-no-drop { cursor: no-drop; }
        &-none { cursor: none; }
        &-not-allowed { cursor: not-allowed; }
        &-ns-resize { cursor: ns-resize; }
        &-nw-resize { cursor: nw-resize; }
        &-nwse-resize { cursor: nwse-resize; }
        &-pointer { cursor: pointer; }
        &-progress { cursor: progress; }
        &-row-resize { cursor: row-resize; }
        &-s-resize { cursor: s-resize; }
        &-se-resize { cursor: se-resize; }
        &-sw-resize { cursor: sw-resize; }
        &-text { cursor: text; }
        &-vertical-text { cursor: vertical-text; }
        &-w-resize { cursor: w-resize; }
        &-wait { cursor: wait; }
        &-zoom-in { cursor: zoom-in; }
        &-zoom-out { cursor: zoom-out; }
        &-moz-grab { cursor: -moz-grab; }
        &-moz-grabbing { cursor: -moz-grabbing; }
        &-moz-zoom-in { cursor: -moz-zoom-in; }
        &-moz-zoom-out { cursor: -moz-zoom-out; }
        &-webkit-grab { cursor: -webkit-grab; }
        &-webkit-grabbing { cursor: -webkit-grabbing; }
        &-webkit-zoom-in { cursor: -webkit-zoom-in; }
        &-webkit-zoom-out { cursor: -webkit-zoom-out; }
        &-inherit { cursor: inherit; }
        &-initial { cursor: initial; }
        &-unset { cursor: unset; }
    }
}

@media (min-width: 1280px) {
    .xl\:cursor {
        &-alias { cursor: alias; }
        &-all-scroll { cursor: all-scroll; }
        &-auto { cursor: auto; }
        &-cell { cursor: cell; }
        &-col-resize { cursor: col-resize; }
        &-context-menu { cursor: context-menu; }
        &-col-copy { cursor: copy; }
        &-crosshair { cursor: crosshair; }
        &-default { cursor: default; }
        &-e-resize { cursor: e-resize; }
        &-grab { cursor: grab; }
        &-grabbing { cursor: grabbing; }
        &-help { cursor: help; }
        &-move { cursor: move; }
        &-n-resize { cursor: n-resize; }
        &-ne-resize { cursor: ne-resize; }
        &-nesw-resize { cursor: nesw-resize; }
        &-no-drop { cursor: no-drop; }
        &-none { cursor: none; }
        &-not-allowed { cursor: not-allowed; }
        &-ns-resize { cursor: ns-resize; }
        &-nw-resize { cursor: nw-resize; }
        &-nwse-resize { cursor: nwse-resize; }
        &-pointer { cursor: pointer; }
        &-progress { cursor: progress; }
        &-row-resize { cursor: row-resize; }
        &-s-resize { cursor: s-resize; }
        &-se-resize { cursor: se-resize; }
        &-sw-resize { cursor: sw-resize; }
        &-text { cursor: text; }
        &-vertical-text { cursor: vertical-text; }
        &-w-resize { cursor: w-resize; }
        &-wait { cursor: wait; }
        &-zoom-in { cursor: zoom-in; }
        &-zoom-out { cursor: zoom-out; }
        &-moz-grab { cursor: -moz-grab; }
        &-moz-grabbing { cursor: -moz-grabbing; }
        &-moz-zoom-in { cursor: -moz-zoom-in; }
        &-moz-zoom-out { cursor: -moz-zoom-out; }
        &-webkit-grab { cursor: -webkit-grab; }
        &-webkit-grabbing { cursor: -webkit-grabbing; }
        &-webkit-zoom-in { cursor: -webkit-zoom-in; }
        &-webkit-zoom-out { cursor: -webkit-zoom-out; }
        &-inherit { cursor: inherit; }
        &-initial { cursor: initial; }
        &-unset { cursor: unset; }
    }
}

// OVERFLOW ARENA //
.overflow {
    &-auto { overflow: auto; }
    &-hidden { overflow: hidden; }
    &-scroll { overflow: scroll; }
    &-visible { overflow: visible; }
    &-moz-hidden-unscrollable { overflow: -moz-hidden-unscrollable; }
    &-inherit { overflow: inherit; }
    &-initial { overflow: initial; }
    &-unset { overflow: unset; }
    &-y-auto { overflow-y: auto; }
    &-y-hidden { overflow-y: hidden; }
    &-y-scroll { overflow-y: scroll; }
    &-y-visible { overflow-y: visible; }
    &-y-moz-hidden-unscrollable { overflow-y: -moz-hidden-unscrollable; }
    &-y-inherit { overflow-y: inherit; }
    &-y-initial { overflow-y: initial; }
    &-y-unset { overflow-y: unset; }
    &-x-auto { overflow-x: auto; }
    &-x-hidden { overflow-x: hidden; }
    &-x-scroll { overflow-x: scroll; }
    &-x-visible { overflow-x: visible; }
    &-x-moz-hidden-unscrollable { overflow-x: -moz-hidden-unscrollable; }
    &-x-inherit { overflow-x: inherit; }
    &-x-initial { overflow-x: initial; }
    &-x-unset { overflow-x: unset; }
}

@media (max-width: 640px) {
    .sm\:overflow {
        &-auto { overflow: auto; }
        &-hidden { overflow: hidden; }
        &-scroll { overflow: scroll; }
        &-visible { overflow: visible; }
        &-moz-hidden-unscrollable { overflow: -moz-hidden-unscrollable; }
        &-inherit { overflow: inherit; }
        &-initial { overflow: initial; }
        &-unset { overflow: unset; }
        &-y-auto { overflow-y: auto; }
        &-y-hidden { overflow-y: hidden; }
        &-y-scroll { overflow-y: scroll; }
        &-y-visible { overflow-y: visible; }
        &-y-moz-hidden-unscrollable { overflow-y: -moz-hidden-unscrollable; }
        &-y-inherit { overflow-y: inherit; }
        &-y-initial { overflow-y: initial; }
        &-y-unset { overflow-y: unset; }
        &-x-auto { overflow-x: auto; }
        &-x-hidden { overflow-x: hidden; }
        &-x-scroll { overflow-x: scroll; }
        &-x-visible { overflow-x: visible; }
        &-x-moz-hidden-unscrollable { overflow-x: -moz-hidden-unscrollable; }
        &-x-inherit { overflow-x: inherit; }
        &-x-initial { overflow-x: initial; }
        &-x-unset { overflow-x: unset; }
    }
}

@media (max-width: 768px) {
    .md\:overflow {
        &-auto { overflow: auto; }
        &-hidden { overflow: hidden; }
        &-scroll { overflow: scroll; }
        &-visible { overflow: visible; }
        &-moz-hidden-unscrollable { overflow: -moz-hidden-unscrollable; }
        &-inherit { overflow: inherit; }
        &-initial { overflow: initial; }
        &-unset { overflow: unset; }
        &-y-auto { overflow-y: auto; }
        &-y-hidden { overflow-y: hidden; }
        &-y-scroll { overflow-y: scroll; }
        &-y-visible { overflow-y: visible; }
        &-y-moz-hidden-unscrollable { overflow-y: -moz-hidden-unscrollable; }
        &-y-inherit { overflow-y: inherit; }
        &-y-initial { overflow-y: initial; }
        &-y-unset { overflow-y: unset; }
        &-x-auto { overflow-x: auto; }
        &-x-hidden { overflow-x: hidden; }
        &-x-scroll { overflow-x: scroll; }
        &-x-visible { overflow-x: visible; }
        &-x-moz-hidden-unscrollable { overflow-x: -moz-hidden-unscrollable; }
        &-x-inherit { overflow-x: inherit; }
        &-x-initial { overflow-x: initial; }
        &-x-unset { overflow-x: unset; }
    }
}

@media (min-width: 1024px) {
    .lg\:overflow {
        &-auto { overflow: auto; }
        &-hidden { overflow: hidden; }
        &-scroll { overflow: scroll; }
        &-visible { overflow: visible; }
        &-moz-hidden-unscrollable { overflow: -moz-hidden-unscrollable; }
        &-inherit { overflow: inherit; }
        &-initial { overflow: initial; }
        &-unset { overflow: unset; }
        &-y-auto { overflow-y: auto; }
        &-y-hidden { overflow-y: hidden; }
        &-y-scroll { overflow-y: scroll; }
        &-y-visible { overflow-y: visible; }
        &-y-moz-hidden-unscrollable { overflow-y: -moz-hidden-unscrollable; }
        &-y-inherit { overflow-y: inherit; }
        &-y-initial { overflow-y: initial; }
        &-y-unset { overflow-y: unset; }
        &-x-auto { overflow-x: auto; }
        &-x-hidden { overflow-x: hidden; }
        &-x-scroll { overflow-x: scroll; }
        &-x-visible { overflow-x: visible; }
        &-x-moz-hidden-unscrollable { overflow-x: -moz-hidden-unscrollable; }
        &-x-inherit { overflow-x: inherit; }
        &-x-initial { overflow-x: initial; }
        &-x-unset { overflow-x: unset; }
    }
}

@media (min-width: 1280px) {
    .xl\:overflow {
        &-auto { overflow: auto; }
        &-hidden { overflow: hidden; }
        &-scroll { overflow: scroll; }
        &-visible { overflow: visible; }
        &-moz-hidden-unscrollable { overflow: -moz-hidden-unscrollable; }
        &-inherit { overflow: inherit; }
        &-initial { overflow: initial; }
        &-unset { overflow: unset; }
        &-y-auto { overflow-y: auto; }
        &-y-hidden { overflow-y: hidden; }
        &-y-scroll { overflow-y: scroll; }
        &-y-visible { overflow-y: visible; }
        &-y-moz-hidden-unscrollable { overflow-y: -moz-hidden-unscrollable; }
        &-y-inherit { overflow-y: inherit; }
        &-y-initial { overflow-y: initial; }
        &-y-unset { overflow-y: unset; }
        &-x-auto { overflow-x: auto; }
        &-x-hidden { overflow-x: hidden; }
        &-x-scroll { overflow-x: scroll; }
        &-x-visible { overflow-x: visible; }
        &-x-moz-hidden-unscrollable { overflow-x: -moz-hidden-unscrollable; }
        &-x-inherit { overflow-x: inherit; }
        &-x-initial { overflow-x: initial; }
        &-x-unset { overflow-x: unset; }
    }
}

.inline {
    display: inline;

    &-flex { display: inline-flex; }
    &-block { display: inline-block; }
    &-table { display: inline-table; }
    &-grid { display: inline-grid; }
}

// DISPLAY ARENA //
@media (max-width: 640px) {
    .sm\:inline {
        display: inline;
    
        &-flex { display: inline-flex; }
        &-block { display: inline-block; }
        &-table { display: inline-table; }
        &-grid { display: inline-grid; }
    }
}

@media (max-width: 768px) {
    .md\:inline {
        display: inline;
    
        &-flex { display: inline-flex; }
        &-block { display: inline-block; }
        &-table { display: inline-table; }
        &-grid { display: inline-grid; }
    }
}

@media (min-width: 1024px) {
    .lg\:inline {
        display: inline;
    
        &-flex { display: inline-flex; }
        &-block { display: inline-block; }
        &-table { display: inline-table; }
        &-grid { display: inline-grid; }
    }
}

@media (min-width: 1280px) {
    .xl\:inline {
        display: inline;
    
        &-flex { display: inline-flex; }
        &-block { display: inline-block; }
        &-table { display: inline-table; }
        &-grid { display: inline-grid; }
    }
}

// HIDDEN ARENA //
.hidden { display: none; }

@media (max-width: 640px) {
    .sm\:hidden { display: none; }
}

@media (max-width: 768px) {
    .md\:hidden { display: none; }
}

@media (min-width: 1024px) {
    .lg\:hidden { display: none; }
}

@media (min-width: 1280px) {
    .xl\:hidden { display: none; }
}

// BLOCK ARENA //
.block { display: block; }

@media (max-width: 640px) {
    .sm\:block { display: block; }
}

@media (max-width: 768px) {
    .md\:block { display: block; }
}

@media (min-width: 1024px) {
    .lg\:block { display: block; }
}

@media (min-width: 1280px) {
    .xl\:block { display: block; }
}

// GRID ARENA //
.grid {

    // gap: 1rem;
    // padding: 1rem;
    display: grid;

}

// GRID @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:grid { display: grid; }
}

@media (max-width: 768px) {
    .md\:grid { display: grid; }
}

@media (min-width: 1024px) {
    .lg\:grid { display: grid; }
}

@media (min-width: 1280px) {
    .xl\:grid { display: grid; }
}

// -MOZ-GRID ARENA //
.-moz-grid { display: -moz-grid; }

// -MOZ-GRID @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:-moz-grid { display: -moz-grid; }
}

@media (max-width: 768px) {
    .md\:-moz-grid { display: -moz-grid; }
}

@media (min-width: 1024px) {
    .lg\:-moz-grid { display: -moz-grid; }
}

@media (min-width: 1280px) {
    .xl\:-moz-grid { display: -moz-grid; }
}

.xd-grid {

    display: grid;
    grid-gap: 12px;
    // grid-column: 3/8;
    // margin: 0 140px 0 140px;
    grid-template-columns: 1fr 1fr 1fr;
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-columns: repeat(11, 1fr 20px) 1fr;

}

.xd-grid-1 {

    display: grid;
    grid-gap: 12px;
    // grid-column: 3/8;
    // max-width: 960px;
    // margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    // margin: 0 140px 0 140px;
    // grid-template-columns: repeat(12, 1fr);
    // grid-template-columns: repeat(11, 1fr 20px) 1fr;

}

// FROM TAILWINDCSS GRID
.grid-cols {
    &-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
    &-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
    &-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
    &-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
    &-5 { grid-template-columns: repeat(5, minmax(0, 1fr)); }
    &-6 { grid-template-columns: repeat(6, minmax(0, 1fr)); }
    &-7 { grid-template-columns: repeat(7, minmax(0, 1fr)); }
    &-8 { grid-template-columns: repeat(8, minmax(0, 1fr)); }
    &-9 { grid-template-columns: repeat(9, minmax(0, 1fr)); }
    &-10 { grid-template-columns: repeat(10, minmax(0, 1fr)); }
    &-11 { grid-template-columns: repeat(11, minmax(0, 1fr)); }
    &-12 { grid-template-columns: repeat(12, minmax(0, 1fr)); }
    &-none	{ grid-template-columns: none; }
}

// GRID-COLS @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:grid-cols {
        &-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
        &-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
        &-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
        &-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
        &-5 { grid-template-columns: repeat(5, minmax(0, 1fr)); }
        &-6 { grid-template-columns: repeat(6, minmax(0, 1fr)); }
        &-7 { grid-template-columns: repeat(7, minmax(0, 1fr)); }
        &-8 { grid-template-columns: repeat(8, minmax(0, 1fr)); }
        &-9 { grid-template-columns: repeat(9, minmax(0, 1fr)); }
        &-10 { grid-template-columns: repeat(10, minmax(0, 1fr)); }
        &-11 { grid-template-columns: repeat(11, minmax(0, 1fr)); }
        &-12 { grid-template-columns: repeat(12, minmax(0, 1fr)); }
        &-none	{ grid-template-columns: none; }
    }
}

@media (max-width: 768px) {
    .md\:grid-cols {
        &-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
        &-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
        &-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
        &-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
        &-5 { grid-template-columns: repeat(5, minmax(0, 1fr)); }
        &-6 { grid-template-columns: repeat(6, minmax(0, 1fr)); }
        &-7 { grid-template-columns: repeat(7, minmax(0, 1fr)); }
        &-8 { grid-template-columns: repeat(8, minmax(0, 1fr)); }
        &-9 { grid-template-columns: repeat(9, minmax(0, 1fr)); }
        &-10 { grid-template-columns: repeat(10, minmax(0, 1fr)); }
        &-11 { grid-template-columns: repeat(11, minmax(0, 1fr)); }
        &-12 { grid-template-columns: repeat(12, minmax(0, 1fr)); }
        &-none	{ grid-template-columns: none; }
    }
}

@media (min-width: 1024px) {
    .lg\:grid-cols {
        &-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
        &-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
        &-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
        &-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
        &-5 { grid-template-columns: repeat(5, minmax(0, 1fr)); }
        &-6 { grid-template-columns: repeat(6, minmax(0, 1fr)); }
        &-7 { grid-template-columns: repeat(7, minmax(0, 1fr)); }
        &-8 { grid-template-columns: repeat(8, minmax(0, 1fr)); }
        &-9 { grid-template-columns: repeat(9, minmax(0, 1fr)); }
        &-10 { grid-template-columns: repeat(10, minmax(0, 1fr)); }
        &-11 { grid-template-columns: repeat(11, minmax(0, 1fr)); }
        &-12 { grid-template-columns: repeat(12, minmax(0, 1fr)); }
        &-none	{ grid-template-columns: none; }
    }
}

@media (min-width: 1280px) {
    .xl\:grid-cols {
        &-1 { grid-template-columns: repeat(1, minmax(0, 1fr)); }
        &-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
        &-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
        &-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }
        &-5 { grid-template-columns: repeat(5, minmax(0, 1fr)); }
        &-6 { grid-template-columns: repeat(6, minmax(0, 1fr)); }
        &-7 { grid-template-columns: repeat(7, minmax(0, 1fr)); }
        &-8 { grid-template-columns: repeat(8, minmax(0, 1fr)); }
        &-9 { grid-template-columns: repeat(9, minmax(0, 1fr)); }
        &-10 { grid-template-columns: repeat(10, minmax(0, 1fr)); }
        &-11 { grid-template-columns: repeat(11, minmax(0, 1fr)); }
        &-12 { grid-template-columns: repeat(12, minmax(0, 1fr)); }
        &-none	{ grid-template-columns: none; }
    }
}

.col {
    &-auto { grid-column: auto; }
    &-span-1 { grid-column: span 1 / span 1; }
    &-span-2 { grid-column: span 2 / span 2; }
    &-span-3 { grid-column: span 3 / span 3; }
    &-span-4 { grid-column: span 4 / span 4; }
    &-span-5 { grid-column: span 5 / span 5; }
    &-span-6 { grid-column: span 6 / span 6; }
    &-span-7 { grid-column: span 7 / span 7; }
    &-span-8 { grid-column: span 8 / span 8; }
    &-span-9 { grid-column: span 9 / span 9; }
    &-span-10 { grid-column: span 10 / span 10; }
    &-span-11 { grid-column: span 11 / span 11; }
    &-span-12 { grid-column: span 12 / span 12; }
    &-span-full { grid-column: 1 / -1; }
    &-start-1 { grid-column-start: 1; }
    &-start-2 { grid-column-start: 2; }
    &-start-3 { grid-column-start: 3; }
    &-start-4 { grid-column-start: 4; }
    &-start-5 { grid-column-start: 5; }
    &-start-6 { grid-column-start: 6; }
    &-start-7 { grid-column-start: 7; }
    &-start-8 { grid-column-start: 8; }
    &-start-9 { grid-column-start: 9; }
    &-start-10 { grid-column-start: 10; }
    &-start-11 { grid-column-start: 11; }
    &-start-12 { grid-column-start: 12; }
    &-start-13 { grid-column-start: 13; }
    &-start-auto { grid-column-start: auto; }
    &-end-1 { grid-column-end: 1; }
    &-end-2 { grid-column-end: 2; }
    &-end-3 { grid-column-end: 3; }
    &-end-4 { grid-column-end: 4; }
    &-end-5 { grid-column-end: 5; }
    &-end-6 { grid-column-end: 6; }
    &-end-7 { grid-column-end: 7; }
    &-end-8 { grid-column-end: 8; }
    &-end-9 { grid-column-end: 9; }
    &-end-10 { grid-column-end: 10; }
    &-end-11 { grid-column-end: 11; }
    &-end-12 { grid-column-end: 12; }
    &-end-13 { grid-column-end: 13; }
    &-end-auto { grid-column-end: auto; }
}

// COL @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:.col {
        &-auto { grid-column: auto; }
        &-span-1 { grid-column: span 1 / span 1; }
        &-span-2 { grid-column: span 2 / span 2; }
        &-span-3 { grid-column: span 3 / span 3; }
        &-span-4 { grid-column: span 4 / span 4; }
        &-span-5 { grid-column: span 5 / span 5; }
        &-span-6 { grid-column: span 6 / span 6; }
        &-span-7 { grid-column: span 7 / span 7; }
        &-span-8 { grid-column: span 8 / span 8; }
        &-span-9 { grid-column: span 9 / span 9; }
        &-span-10 { grid-column: span 10 / span 10; }
        &-span-11 { grid-column: span 11 / span 11; }
        &-span-12 { grid-column: span 12 / span 12; }
        &-span-full { grid-column: 1 / -1; }
        &-start-1 { grid-column-start: 1; }
        &-start-2 { grid-column-start: 2; }
        &-start-3 { grid-column-start: 3; }
        &-start-4 { grid-column-start: 4; }
        &-start-5 { grid-column-start: 5; }
        &-start-6 { grid-column-start: 6; }
        &-start-7 { grid-column-start: 7; }
        &-start-8 { grid-column-start: 8; }
        &-start-9 { grid-column-start: 9; }
        &-start-10 { grid-column-start: 10; }
        &-start-11 { grid-column-start: 11; }
        &-start-12 { grid-column-start: 12; }
        &-start-13 { grid-column-start: 13; }
        &-start-auto { grid-column-start: auto; }
        &-end-1 { grid-column-end: 1; }
        &-end-2 { grid-column-end: 2; }
        &-end-3 { grid-column-end: 3; }
        &-end-4 { grid-column-end: 4; }
        &-end-5 { grid-column-end: 5; }
        &-end-6 { grid-column-end: 6; }
        &-end-7 { grid-column-end: 7; }
        &-end-8 { grid-column-end: 8; }
        &-end-9 { grid-column-end: 9; }
        &-end-10 { grid-column-end: 10; }
        &-end-11 { grid-column-end: 11; }
        &-end-12 { grid-column-end: 12; }
        &-end-13 { grid-column-end: 13; }
        &-end-auto { grid-column-end: auto; }
    }
}

@media (max-width: 768px) {
    .md\:.col {
        &-auto { grid-column: auto; }
        &-span-1 { grid-column: span 1 / span 1; }
        &-span-2 { grid-column: span 2 / span 2; }
        &-span-3 { grid-column: span 3 / span 3; }
        &-span-4 { grid-column: span 4 / span 4; }
        &-span-5 { grid-column: span 5 / span 5; }
        &-span-6 { grid-column: span 6 / span 6; }
        &-span-7 { grid-column: span 7 / span 7; }
        &-span-8 { grid-column: span 8 / span 8; }
        &-span-9 { grid-column: span 9 / span 9; }
        &-span-10 { grid-column: span 10 / span 10; }
        &-span-11 { grid-column: span 11 / span 11; }
        &-span-12 { grid-column: span 12 / span 12; }
        &-span-full { grid-column: 1 / -1; }
        &-start-1 { grid-column-start: 1; }
        &-start-2 { grid-column-start: 2; }
        &-start-3 { grid-column-start: 3; }
        &-start-4 { grid-column-start: 4; }
        &-start-5 { grid-column-start: 5; }
        &-start-6 { grid-column-start: 6; }
        &-start-7 { grid-column-start: 7; }
        &-start-8 { grid-column-start: 8; }
        &-start-9 { grid-column-start: 9; }
        &-start-10 { grid-column-start: 10; }
        &-start-11 { grid-column-start: 11; }
        &-start-12 { grid-column-start: 12; }
        &-start-13 { grid-column-start: 13; }
        &-start-auto { grid-column-start: auto; }
        &-end-1 { grid-column-end: 1; }
        &-end-2 { grid-column-end: 2; }
        &-end-3 { grid-column-end: 3; }
        &-end-4 { grid-column-end: 4; }
        &-end-5 { grid-column-end: 5; }
        &-end-6 { grid-column-end: 6; }
        &-end-7 { grid-column-end: 7; }
        &-end-8 { grid-column-end: 8; }
        &-end-9 { grid-column-end: 9; }
        &-end-10 { grid-column-end: 10; }
        &-end-11 { grid-column-end: 11; }
        &-end-12 { grid-column-end: 12; }
        &-end-13 { grid-column-end: 13; }
        &-end-auto { grid-column-end: auto; }
    }
}

@media (min-width: 1024px) {
    .lg\:.col {
        &-auto { grid-column: auto; }
        &-span-1 { grid-column: span 1 / span 1; }
        &-span-2 { grid-column: span 2 / span 2; }
        &-span-3 { grid-column: span 3 / span 3; }
        &-span-4 { grid-column: span 4 / span 4; }
        &-span-5 { grid-column: span 5 / span 5; }
        &-span-6 { grid-column: span 6 / span 6; }
        &-span-7 { grid-column: span 7 / span 7; }
        &-span-8 { grid-column: span 8 / span 8; }
        &-span-9 { grid-column: span 9 / span 9; }
        &-span-10 { grid-column: span 10 / span 10; }
        &-span-11 { grid-column: span 11 / span 11; }
        &-span-12 { grid-column: span 12 / span 12; }
        &-span-full { grid-column: 1 / -1; }
        &-start-1 { grid-column-start: 1; }
        &-start-2 { grid-column-start: 2; }
        &-start-3 { grid-column-start: 3; }
        &-start-4 { grid-column-start: 4; }
        &-start-5 { grid-column-start: 5; }
        &-start-6 { grid-column-start: 6; }
        &-start-7 { grid-column-start: 7; }
        &-start-8 { grid-column-start: 8; }
        &-start-9 { grid-column-start: 9; }
        &-start-10 { grid-column-start: 10; }
        &-start-11 { grid-column-start: 11; }
        &-start-12 { grid-column-start: 12; }
        &-start-13 { grid-column-start: 13; }
        &-start-auto { grid-column-start: auto; }
        &-end-1 { grid-column-end: 1; }
        &-end-2 { grid-column-end: 2; }
        &-end-3 { grid-column-end: 3; }
        &-end-4 { grid-column-end: 4; }
        &-end-5 { grid-column-end: 5; }
        &-end-6 { grid-column-end: 6; }
        &-end-7 { grid-column-end: 7; }
        &-end-8 { grid-column-end: 8; }
        &-end-9 { grid-column-end: 9; }
        &-end-10 { grid-column-end: 10; }
        &-end-11 { grid-column-end: 11; }
        &-end-12 { grid-column-end: 12; }
        &-end-13 { grid-column-end: 13; }
        &-end-auto { grid-column-end: auto; }
    }
}

@media (min-width: 1280px) {
    .xl\:.col {
        &-auto { grid-column: auto; }
        &-span-1 { grid-column: span 1 / span 1; }
        &-span-2 { grid-column: span 2 / span 2; }
        &-span-3 { grid-column: span 3 / span 3; }
        &-span-4 { grid-column: span 4 / span 4; }
        &-span-5 { grid-column: span 5 / span 5; }
        &-span-6 { grid-column: span 6 / span 6; }
        &-span-7 { grid-column: span 7 / span 7; }
        &-span-8 { grid-column: span 8 / span 8; }
        &-span-9 { grid-column: span 9 / span 9; }
        &-span-10 { grid-column: span 10 / span 10; }
        &-span-11 { grid-column: span 11 / span 11; }
        &-span-12 { grid-column: span 12 / span 12; }
        &-span-full { grid-column: 1 / -1; }
        &-start-1 { grid-column-start: 1; }
        &-start-2 { grid-column-start: 2; }
        &-start-3 { grid-column-start: 3; }
        &-start-4 { grid-column-start: 4; }
        &-start-5 { grid-column-start: 5; }
        &-start-6 { grid-column-start: 6; }
        &-start-7 { grid-column-start: 7; }
        &-start-8 { grid-column-start: 8; }
        &-start-9 { grid-column-start: 9; }
        &-start-10 { grid-column-start: 10; }
        &-start-11 { grid-column-start: 11; }
        &-start-12 { grid-column-start: 12; }
        &-start-13 { grid-column-start: 13; }
        &-start-auto { grid-column-start: auto; }
        &-end-1 { grid-column-end: 1; }
        &-end-2 { grid-column-end: 2; }
        &-end-3 { grid-column-end: 3; }
        &-end-4 { grid-column-end: 4; }
        &-end-5 { grid-column-end: 5; }
        &-end-6 { grid-column-end: 6; }
        &-end-7 { grid-column-end: 7; }
        &-end-8 { grid-column-end: 8; }
        &-end-9 { grid-column-end: 9; }
        &-end-10 { grid-column-end: 10; }
        &-end-11 { grid-column-end: 11; }
        &-end-12 { grid-column-end: 12; }
        &-end-13 { grid-column-end: 13; }
        &-end-auto { grid-column-end: auto; }
    }
}

// GRID-ROWS ARENA //
.grid-rows {
    &-1 { grid-template-rows: repeat(1, minmax(0, 1fr)); }
    &-2 { grid-template-rows: repeat(2, minmax(0, 1fr)); }
    &-3 { grid-template-rows: repeat(3, minmax(0, 1fr)); }
    &-4 { grid-template-rows: repeat(4, minmax(0, 1fr)); }
    &-5 { grid-template-rows: repeat(5, minmax(0, 1fr)); }
    &-6 { grid-template-rows: repeat(6, minmax(0, 1fr)); }
    &-none	{ grid-template-rows: none; }
}

.row {
    &-auto { grid-row: auto; }
    &-span-1 { grid-row: span 1 / span 1; }
    &-span-2 { grid-row: span 2 / span 2; }
    &-span-3 { grid-row: span 3 / span 3; }
    &-span-4 { grid-row: span 4 / span 4; }
    &-span-5 { grid-row: span 5 / span 5; }
    &-span-6 { grid-row: span 6 / span 6; }
    &-span-full { grid-row: 1 / -1; }
    &-start-1 { grid-row-start: 1; }
    &-start-2 { grid-row-start: 2; }
    &-start-3 { grid-row-start: 3; }
    &-start-4 { grid-row-start: 4; }
    &-start-5 { grid-row-start: 5; }
    &-start-6 { grid-row-start: 6; }
    &-start-7 { grid-row-start: 7; }
    &-start-auto { grid-row-start: auto; ;
    &-end-1 { grid-row-end: 1; }
    &-end-2 { grid-row-end: 2; }
    &-end-3 { grid-row-end: 3; }
    &-end-4 { grid-row-end: 4; }
    &-end-5 { grid-row-end: 5; }
    &-end-6 { grid-row-end: 6; }
    &-end-7 { grid-row-end: 7; }
    &-end-auto { grid-row-end: auto; }
}

.grid-flow {
    &-row { grid-auto-flow: row; }
    &-col { grid-auto-flow: column; }
    &-row-dense { grid-auto-flow: row dense; }
    &-col-dense { grid-auto-flow: column dense; }
}

.auto-cols {
    &-auto { grid-auto-columns: auto; }
    &-min { grid-auto-columns: min-content; }
    &-max { grid-auto-columns: max-content; }
    &-fr { grid-auto-columns: minmax(0, 1fr); }
}

.auto-rows {
    &-auto { grid-auto-rows: auto; }
    &-min { grid-auto-rows: min-content; }
    &-max { grid-auto-rows: max-content; }
    &-fr { grid-auto-rows: minmax(0, 1fr); }
}

// .gap-0 {gap: 0px};
// .gap-x-0 {column-gap: 0px};
// .gap-y-0 {row-gap: 0px};
// .gap-0.5 {gap: 0.125rem};
// .gap-x-0.5 {column-gap: 0.125rem};
// .gap-y-0.5 {row-gap: 0.125rem};
// .gap-1 {gap: 0.25rem};
// .gap-x-1 {column-gap: 0.25rem};
// .gap-y-1 {row-gap: 0.25rem};
// .gap-1.5 {gap: 0.375rem};
// .gap-x-1.5 {column-gap: 0.375rem};
// .gap-y-1.5 {row-gap: 0.375rem};
// .gap-2 {gap: 0.5rem};
// .gap-x-2 {column-gap: 0.5rem};
// .gap-y-2 {row-gap: 0.5rem};
// .gap-2.5 {gap: 0.625rem};
// .gap-x-2.5 {column-gap: 0.625rem};
// .gap-y-2.5 {row-gap: 0.625rem};
// .gap-3 {gap: 0.75rem};
// .gap-x-3 {column-gap: 0.75rem};
// .gap-y-3 {row-gap: 0.75rem};
// .gap-3.5 {gap: 0.875rem};
// .gap-x-3.5 {column-gap: 0.875rem};
// .gap-y-3.5 {row-gap: 0.875rem};
// .gap-4 {gap: 1rem};
// .gap-x-4 {column-gap: 1rem};
// .gap-y-4 {row-gap: 1rem};
// .gap-5 {gap: 1.25rem};
// .gap-x-5 {column-gap: 1.25rem};
// .gap-y-5 {row-gap: 1.25rem};
// .gap-6 {gap: 1.5rem};
// .gap-x-6 {column-gap: 1.5rem};
// .gap-y-6 {row-gap: 1.5rem};
// .gap-7 {gap: 1.75rem};
// .gap-x-7 {column-gap: 1.75rem};
// .gap-y-7 {row-gap: 1.75rem};
// .gap-8 {gap: 2rem};
// .gap-x-8 {column-gap: 2rem};
// .gap-y-8 {row-gap: 2rem};
// .gap-9 {gap: 2.25rem};
// .gap-x-9 {column-gap: 2.25rem};
// .gap-y-9 {row-gap: 2.25rem};
// .gap-10 {gap: 2.5rem};
// .gap-x-10 {column-gap: 2.5rem};
// .gap-y-10 {row-gap: 2.5rem};
// .gap-11	{gap: 2.75rem};
// .gap-x-11 {column-gap: 2.75rem};
// .gap-y-11 {row-gap: 2.75rem};
// .gap-12	{gap: 3rem};
// .gap-x-12 {column-gap: 3rem};
// .gap-y-12 {row-gap: 3rem};
// .gap-14	{gap: 3.5rem};
// .gap-x-14 {column-gap: 3.5rem};
// .gap-y-14 {row-gap: 3.5rem};
// .gap-16 {gap: 4rem};
// .gap-x-16 {column-gap: 4rem};
// .gap-y-16 {row-gap: 4rem};
// .gap-20 {gap: 5rem};
// .gap-x-20 {column-gap: 5rem};
// .gap-y-20 {row-gap: 5rem};
// .gap-24 {gap: 6rem};
// .gap-x-24 {column-gap: 6rem};
// .gap-y-24 {row-gap: 6rem};
// .gap-28	{gap: 7rem};
// .gap-x-28 {column-gap: 7rem};
// .gap-y-28 {row-gap: 7rem};
// .gap-32 {gap: 8rem};
// .gap-x-32 {column-gap: 8rem};
// .gap-y-32 {row-gap: 8rem};
// .gap-36	{gap: 9rem};
// .gap-x-36 {column-gap: 9rem};
// .gap-y-36 {row-gap: 9rem};
// .gap-40 {gap: 10rem};
// .gap-x-40 {column-gap: 10rem};
// .gap-y-40 {row-gap: 10rem};
// .gap-44 {gap: 11rem};
// .gap-x-44 {column-gap: 11rem};
// .gap-y-44 {row-gap: 11rem};
// .gap-48 {gap: 12rem};
// .gap-x-48 {column-gap: 12rem};
// .gap-y-48 {row-gap: 12rem};
// .gap-52 {gap: 13rem};
// .gap-x-52 {column-gap: 13rem};
// .gap-y-52 {row-gap: 13rem};
// .gap-56 {gap: 14rem};
// .gap-x-56 {column-gap: 14rem};
// .gap-y-56 {row-gap: 14rem};
// .gap-60 {gap: 15rem};
// .gap-x-60 {column-gap: 15rem};
// .gap-y-60 {row-gap: 15rem};
// .gap-64 {gap: 16rem};
// .gap-x-64 {column-gap: 16rem};
// .gap-y-64 {row-gap: 16rem};
// .gap-72 {gap: 18rem};
// .gap-x-72 {column-gap: 18rem};
// .gap-y-72 {row-gap: 18rem};
// .gap-80 {gap: 20rem};
// .gap-x-80 {column-gap: 20rem};
// .gap-y-80 {row-gap: 20rem};
// .gap-96 {gap: 24rem};
// .gap-x-96 {column-gap: 24rem};
// .gap-y-96 {row-gap: 24rem};
// .gap-px {gap: 1px};
// .gap-x-px {column-gap: 1px};
// .gap-y-px {row-gap: 1px};

// FLEX ARENA //
.flex {
    display: flex;

    &-col, &-column { flex-direction: column; }
    &-col-reverse { flex-direction: column-reverse; }
    &-row { flex-direction: row; }
    &-row-reverse { flex-direction: row-reverse; }
}

// FLEX @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:flex {
        display: flex;
    
        &-col, &-column { flex-direction: column; }
        &-col-reverse { flex-direction: column-reverse; }
        &-row { flex-direction: row; }
        &-row-reverse { flex-direction: row-reverse; }
    }
}

@media (max-width: 768px) {
    .md\:flex {
        display: flex;
    
        &-col, &-column { flex-direction: column; }
        &-col-reverse { flex-direction: column-reverse; }
        &-row { flex-direction: row; }
        &-row-reverse { flex-direction: row-reverse; }
    }
}

@media (min-width: 1024px) {
    .lg\:flex {
        display: flex;
    
        &-col, &-column { flex-direction: column; }
        &-col-reverse { flex-direction: column-reverse; }
        &-row { flex-direction: row; }
        &-row-reverse { flex-direction: row-reverse; }
    }
}

@media (min-width: 1280px) {
    .xl\:flex {
        display: flex;
    
        &-col, &-column { flex-direction: column; }
        &-col-reverse { flex-direction: column-reverse; }
        &-row { flex-direction: row; }
        &-row-reverse { flex-direction: row-reverse; }
    }
}

// -MOZ-FLEX ARENA //
.-moz-flex { display: -moz-flex; }

// -MOZ-FLEX @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:-moz-flex { display: -moz-flex; }
}

@media (max-width: 768px) {
    .md\:-moz-flex { display: -moz-flex; }
}

@media (min-width: 1024px) {
    .lg\:-moz-flex { display: -moz-flex; }
}

@media (min-width: 1280px) {
    .xl\:-moz-flex { display: -moz-flex; }
}

// JUSTIFY ARENA //
.justify {
    &-center { justify-content: center; }
    &-around { justify-content: space-around; }
    &-between { justify-content: space-between; }
    &-evenly { justify-content: space-evenly; }
}

// JUSTIFY @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:justify {
        &-center { justify-content: center; }
        &-around { justify-content: space-around; }
        &-between { justify-content: space-between; }
        &-evenly { justify-content: space-evenly; }
    }
}

@media (max-width: 768px) {
    .md\:justify {
        &-center { justify-content: center; }
        &-around { justify-content: space-around; }
        &-between { justify-content: space-between; }
        &-evenly { justify-content: space-evenly; }
    }
}

@media (min-width: 1024px) {
    .lg\:justify {
        &-center { justify-content: center; }
        &-around { justify-content: space-around; }
        &-between { justify-content: space-between; }
        &-evenly { justify-content: space-evenly; }
    }
}

@media (min-width: 1280px) {
    .xl\:justify {
        &-center { justify-content: center; }
        &-around { justify-content: space-around; }
        &-between { justify-content: space-between; }
        &-evenly { justify-content: space-evenly; }
    }
}

// // FLEX ARENA //
// .flex {
//     &-col, &-column { flex-direction: column; }
//     &-col-reverse { flex-direction: column-reverse; }
//     &-row { flex-direction: row; }
//     &-row-reverse { flex-direction: row-reverse; }
// }

// // @MEDIA : FLEX-COL #MEDIA //
// @media (max-width: 640px) {
//     .sm\:flex-row-reverse { flex-direction: row-reverse; }
// }

// @media (max-width: 768px) {
//     .md\:flex-row-reverse { flex-direction: row-reverse; }
// }

// @media (min-width: 1024px) {
//     .lg\:flex-row-reverse { flex-direction: row-reverse; }
// }

// @media (min-width: 1280px) {
//     .xl\:flex-row-reverse { flex-direction: row-reverse; }
// }

// ALIGN ARENA //
.align {
    &-baseline { align-items: baseline; }
    &-center { align-items: center; }
    &-flex-end { align-items: flex-end; }
    &-flex-start { align-items: flex-start; }
    &-stretch { align-items: stretch; }
}

@media (max-width: 640px) {
    .sm\:align {
        &-baseline { align-items: baseline; }
        &-center { align-items: center; }
        &-flex-end { align-items: flex-end; }
        &-flex-start { align-items: flex-start; }
        &-stretch { align-items: stretch; }
    }
}

@media (max-width: 768px) {
    .md\:align {
        &-baseline { align-items: baseline; }
        &-center { align-items: center; }
        &-flex-end { align-items: flex-end; }
        &-flex-start { align-items: flex-start; }
        &-stretch { align-items: stretch; }
    }
}

@media (min-width: 1024px) {
    .lg\:align {
        &-baseline { align-items: baseline; }
        &-center { align-items: center; }
        &-flex-end { align-items: flex-end; }
        &-flex-start { align-items: flex-start; }
        &-stretch { align-items: stretch; }
    }
}

@media (min-width: 1280px) {
    .xl\:align {
        &-baseline { align-items: baseline; }
        &-center { align-items: center; }
        &-flex-end { align-items: flex-end; }
        &-flex-start { align-items: flex-start; }
        &-stretch { align-items: stretch; }
    }
}

// FLEXBOX ARENA //
.flexbox { display: flexbox; }

// FLEXBOX @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:flexbox { display: flexbox; }
}

@media (max-width: 768px) {
    .md\:flexbox { display: flexbox; }
}

@media (min-width: 1024px) {
    .lg\:flexbox { display: flexbox; }
}

@media (min-width: 1280px) {
    .xl\:flexbox { display: flexbox; }
}

// -MOZ-FLEXBOX ARENA //
.-moz-flexbox { display: -moz-flexbox; }

// -MOZ-FLEXBOX @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:-moz-flexbox { display: -moz-flexbox; }
}

@media (max-width: 768px) {
    .md\:-moz-flexbox { display: -moz-flexbox; }
}

@media (min-width: 1024px) {
    .lg\:-moz-flexbox { display: -moz-flexbox; }
}

@media (min-width: 1280px) {
    .xl\:-moz-flexbox { display: -moz-flexbox; }
}

.inline {
    display: inline;

    &-flex { display: inline-flex; }
    &-block { display: inline-block; }
    &-table { display: inline-table; }
    &-grid { display: inline-grid; }
}

.table {
    display: table;

    &-cell { display: table-cell; }
    &-column { display: table-column; }
    &-caption { display: table-caption; }
    &-column-group { display: table-column-group; }
    &-footer-group { display: table-footer-group; }
    &-header-group { display: table-header-group; }
    &-row-group	{ display: table-row-group; }
    &-row { display: table-row; }
}
.flow-root { display: flow-root; }
.contents { display: contents; }
.list-item { display: list-item; }