// FONT-FAMILY ARENA //
.font {
    &-arial { font-family: var(--arial); }
    &-cambria { font-family: var(--cambria); }
    &-georgia { font-family: var(--georgia); }
    &-impact { font-family: var(--impact); }
    &-verdana { font-family: var(--verdana); }
    &-cursive { font-family: var(--cursive); }
    &-fantasy { font-family: var(--fantasy); }
    &-monospace { font-family: var(--monospace); }
    &-sans-serif { font-family: var(--sans-serif); }
    &-serif { font-family: var(--serif); }
    &-sans-apple { font-family: var(--sans-apple); }
}

// FONT-FAMILY @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:font {
        &-arial { font-family: var(--arial); }
        &-cambria { font-family: var(--cambria); }
        &-georgia { font-family: var(--georgia); }
        &-impact { font-family: var(--impact); }
        &-verdana { font-family: var(--verdana); }
        &-cursive { font-family: var(--cursive); }
        &-fantasy { font-family: var(--fantasy); }
        &-monospace { font-family: var(--monospace); }
        &-sans-serif { font-family: var(--sans-serif); }
        &-serif { font-family: var(--serif); }
        &-sans-apple { font-family: var(--sans-apple); }
    }
}

@media (max-width: 800px) {
    .md\:font {
        &-arial { font-family: var(--arial); }
        &-cambria { font-family: var(--cambria); }
        &-georgia { font-family: var(--georgia); }
        &-impact { font-family: var(--impact); }
        &-verdana { font-family: var(--verdana); }
        &-cursive { font-family: var(--cursive); }
        &-fantasy { font-family: var(--fantasy); }
        &-monospace { font-family: var(--monospace); }
        &-sans-serif { font-family: var(--sans-serif); }
        &-serif { font-family: var(--serif); }
        &-sans-apple { font-family: var(--sans-apple); }
    }
}

@media (min-width: 1024px) {
    .lg\:font {
        &-arial { font-family: var(--arial); }
        &-cambria { font-family: var(--cambria); }
        &-georgia { font-family: var(--georgia); }
        &-impact { font-family: var(--impact); }
        &-verdana { font-family: var(--verdana); }
        &-cursive { font-family: var(--cursive); }
        &-fantasy { font-family: var(--fantasy); }
        &-monospace { font-family: var(--monospace); }
        &-sans-serif { font-family: var(--sans-serif); }
        &-serif { font-family: var(--serif); }
        &-sans-apple { font-family: var(--sans-apple); }
    }
}

@media (min-width: 1280px) {
    .xl\:font {
        &-arial { font-family: var(--arial); }
        &-cambria { font-family: var(--cambria); }
        &-georgia { font-family: var(--georgia); }
        &-impact { font-family: var(--impact); }
        &-verdana { font-family: var(--verdana); }
        &-cursive { font-family: var(--cursive); }
        &-fantasy { font-family: var(--fantasy); }
        &-monospace { font-family: var(--monospace); }
        &-sans-serif { font-family: var(--sans-serif); }
        &-serif { font-family: var(--serif); }
        &-sans-apple { font-family: var(--sans-apple); }
    }
}

// UPPERCASE & LOWERCASE ARENA //
.font {
    &-capitalize { text-transform: var(--capitalize); }
    &-lowercase { text-transform: var(--lowercase); }
    &-none { text-transform: var(--none); }
    &-uppercase { text-transform: var(--uppercase); }
}

// UPPERCASE & LOWERCASE @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:font {
        &-capitalize { text-transform: var(--capitalize); }
        &-lowercase { text-transform: var(--lowercase); }
        &-none { text-transform: var(--none); }
        &-uppercase { text-transform: var(--uppercase); }
    }
}

@media (max-width: 800px) {
    .md\:font {
        &-capitalize { text-transform: var(--capitalize); }
        &-lowercase { text-transform: var(--lowercase); }
        &-none { text-transform: var(--none); }
        &-uppercase { text-transform: var(--uppercase); }
    }
}

@media (min-width: 1024px) {
    .lg\:font {
        &-capitalize { text-transform: var(--capitalize); }
        &-lowercase { text-transform: var(--lowercase); }
        &-none { text-transform: var(--none); }
        &-uppercase { text-transform: var(--uppercase); }
    }
}

@media (min-width: 1280px) {
    .xl\:font {
        &-capitalize { text-transform: var(--capitalize); }
        &-lowercase { text-transform: var(--lowercase); }
        &-none { text-transform: var(--none); }
        &-uppercase { text-transform: var(--uppercase); }
    }
}

// FONT-WEIGHT ARENA //
.font {
    &-thin { font-weight: var(--thin); }
    &-extralight { font-weight: var(--extralight); }
    &-light { font-weight: var(--light); }
    &-normal { font-weight: var(--normal); }
    &-medium { font-weight: var(--medium); }
    &-semibold { font-weight: var(--semibold); }
    &-bold { font-weight: var(--bold); }
    &-extrabold { font-weight: var(--extrabold); }
    &-black { font-weight: var(--black); }
}

// FONT-WEIGHT @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:font {
        &-thin { font-weight: var(--thin); }
        &-extralight { font-weight: var(--extralight); }
        &-light { font-weight: var(--light); }
        &-normal { font-weight: var(--normal); }
        &-medium { font-weight: var(--medium); }
        &-semibold { font-weight: var(--semibold); }
        &-bold { font-weight: var(--bold); }
        &-extrabold { font-weight: var(--extrabold); }
        &-black { font-weight: var(--black); }
    }
}

@media (max-width: 800px) {
    .md\:font {
        &-thin { font-weight: var(--thin); }
        &-extralight { font-weight: var(--extralight); }
        &-light { font-weight: var(--light); }
        &-normal { font-weight: var(--normal); }
        &-medium { font-weight: var(--medium); }
        &-semibold { font-weight: var(--semibold); }
        &-bold { font-weight: var(--bold); }
        &-extrabold { font-weight: var(--extrabold); }
        &-black { font-weight: var(--black); }
    }
}

@media (min-width: 1024px) {
    .lg\:font {
        &-thin { font-weight: var(--thin); }
        &-extralight { font-weight: var(--extralight); }
        &-light { font-weight: var(--light); }
        &-normal { font-weight: var(--normal); }
        &-medium { font-weight: var(--medium); }
        &-semibold { font-weight: var(--semibold); }
        &-bold { font-weight: var(--bold); }
        &-extrabold { font-weight: var(--extrabold); }
        &-black { font-weight: var(--black); }
    }
}

@media (min-width: 1280px) {
    .xl\:font {
        &-thin { font-weight: var(--thin); }
        &-extralight { font-weight: var(--extralight); }
        &-light { font-weight: var(--light); }
        &-normal { font-weight: var(--normal); }
        &-medium { font-weight: var(--medium); }
        &-semibold { font-weight: var(--semibold); }
        &-bold { font-weight: var(--bold); }
        &-extrabold { font-weight: var(--extrabold); }
        &-black { font-weight: var(--black); }
    }
}

// H:FONT-WEIGHT ARENA //
.h\:font {
    &-thin:hover { font-weight: var(--thin); }
    &-extralight:hover { font-weight: var(--extralight); }
    &-light:hover { font-weight: var(--light); }
    &-normal:hover { font-weight: var(--normal); }
    &-medium:hover { font-weight: var(--medium); }
    &-semibold:hover { font-weight: var(--semibold); }
    &-bold:hover { font-weight: var(--bold); }
    &-extrabold:hover { font-weight: var(--extrabold); }
    &-black:hover { font-weight: var(--black); }
}

// H:FONT-WEIGHT @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:h\:font {
        &-thin:hover { font-weight: var(--thin); }
        &-extralight:hover { font-weight: var(--extralight); }
        &-light:hover { font-weight: var(--light); }
        &-normal:hover { font-weight: var(--normal); }
        &-medium:hover { font-weight: var(--medium); }
        &-semibold:hover { font-weight: var(--semibold); }
        &-bold:hover { font-weight: var(--bold); }
        &-extrabold:hover { font-weight: var(--extrabold); }
        &-black:hover { font-weight: var(--black); }
    }
}

@media (max-width: 800px) {
    .md\:h\:font {
        &-thin:hover { font-weight: var(--thin); }
        &-extralight:hover { font-weight: var(--extralight); }
        &-light:hover { font-weight: var(--light); }
        &-normal:hover { font-weight: var(--normal); }
        &-medium:hover { font-weight: var(--medium); }
        &-semibold:hover { font-weight: var(--semibold); }
        &-bold:hover { font-weight: var(--bold); }
        &-extrabold:hover { font-weight: var(--extrabold); }
        &-black:hover { font-weight: var(--black); }
    }
}

@media (min-width: 1024px) {
    .lg\:h\:font {
        &-thin:hover { font-weight: var(--thin); }
        &-extralight:hover { font-weight: var(--extralight); }
        &-light:hover { font-weight: var(--light); }
        &-normal:hover { font-weight: var(--normal); }
        &-medium:hover { font-weight: var(--medium); }
        &-semibold:hover { font-weight: var(--semibold); }
        &-bold:hover { font-weight: var(--bold); }
        &-extrabold:hover { font-weight: var(--extrabold); }
        &-black:hover { font-weight: var(--black); }
    }
}

@media (min-width: 1280px) {
    .xl\:h\:font {
        &-thin:hover { font-weight: var(--thin); }
        &-extralight:hover { font-weight: var(--extralight); }
        &-light:hover { font-weight: var(--light); }
        &-normal:hover { font-weight: var(--normal); }
        &-medium:hover { font-weight: var(--medium); }
        &-semibold:hover { font-weight: var(--semibold); }
        &-bold:hover { font-weight: var(--bold); }
        &-extrabold:hover { font-weight: var(--extrabold); }
        &-black:hover { font-weight: var(--black); }
    }
}

// A:FONT-WEIGHT ARENA //
.a\:font {
    &-thin:active { font-weight: var(--thin); }
    &-extralight:active { font-weight: var(--extralight); }
    &-light:active { font-weight: var(--light); }
    &-normal:active { font-weight: var(--normal); }
    &-medium:active { font-weight: var(--medium); }
    &-semibold:active { font-weight: var(--semibold); }
    &-bold:active { font-weight: var(--bold); }
    &-extrabold:active { font-weight: var(--extrabold); }
    &-black:active { font-weight: var(--black); }
}

// H:FONT-WEIGHT @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:a\:font {
        &-thin:active { font-weight: var(--thin); }
        &-extralight:active { font-weight: var(--extralight); }
        &-light:active { font-weight: var(--light); }
        &-normal:active { font-weight: var(--normal); }
        &-medium:active { font-weight: var(--medium); }
        &-semibold:active { font-weight: var(--semibold); }
        &-bold:active { font-weight: var(--bold); }
        &-extrabold:active { font-weight: var(--extrabold); }
        &-black:active { font-weight: var(--black); }
    }
}

@media (max-width: 800px) {
    .md\:a\:font {
        &-thin:active { font-weight: var(--thin); }
        &-extralight:active { font-weight: var(--extralight); }
        &-light:active { font-weight: var(--light); }
        &-normal:active { font-weight: var(--normal); }
        &-medium:active { font-weight: var(--medium); }
        &-semibold:active { font-weight: var(--semibold); }
        &-bold:active { font-weight: var(--bold); }
        &-extrabold:active { font-weight: var(--extrabold); }
        &-black:active { font-weight: var(--black); }
    }
}

@media (min-width: 1024px) {
    .lg\:a\:font {
        &-thin:active { font-weight: var(--thin); }
        &-extralight:active { font-weight: var(--extralight); }
        &-light:active { font-weight: var(--light); }
        &-normal:active { font-weight: var(--normal); }
        &-medium:active { font-weight: var(--medium); }
        &-semibold:active { font-weight: var(--semibold); }
        &-bold:active { font-weight: var(--bold); }
        &-extrabold:active { font-weight: var(--extrabold); }
        &-black:active { font-weight: var(--black); }
    }
}

@media (min-width: 1280px) {
    .xl\:a\:font {
        &-thin:active { font-weight: var(--thin); }
        &-extralight:active { font-weight: var(--extralight); }
        &-light:active { font-weight: var(--light); }
        &-normal:active { font-weight: var(--normal); }
        &-medium:active { font-weight: var(--medium); }
        &-semibold:active { font-weight: var(--semibold); }
        &-bold:active { font-weight: var(--bold); }
        &-extrabold:active { font-weight: var(--extrabold); }
        &-black:active { font-weight: var(--black); }
    }
}

// F:FONT-WEIGHT ARENA //
.f\:font {
    &-thin:focus { font-weight: var(--thin); }
    &-extralight:focus { font-weight: var(--extralight); }
    &-light:focus { font-weight: var(--light); }
    &-normal:focus { font-weight: var(--normal); }
    &-medium:focus { font-weight: var(--medium); }
    &-semibold:focus { font-weight: var(--semibold); }
    &-bold:focus { font-weight: var(--bold); }
    &-extrabold:focus { font-weight: var(--extrabold); }
    &-black:focus { font-weight: var(--black); }
}

// F:FONT-WEIGHT @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:f\:font {
        &-thin:focus { font-weight: var(--thin); }
        &-extralight:focus { font-weight: var(--extralight); }
        &-light:focus { font-weight: var(--light); }
        &-normal:focus { font-weight: var(--normal); }
        &-medium:focus { font-weight: var(--medium); }
        &-semibold:focus { font-weight: var(--semibold); }
        &-bold:focus { font-weight: var(--bold); }
        &-extrabold:focus { font-weight: var(--extrabold); }
        &-black:focus { font-weight: var(--black); }
    }
}

@media (max-width: 800px) {
    .md\:f\:font {
        &-thin:focus { font-weight: var(--thin); }
        &-extralight:focus { font-weight: var(--extralight); }
        &-light:focus { font-weight: var(--light); }
        &-normal:focus { font-weight: var(--normal); }
        &-medium:focus { font-weight: var(--medium); }
        &-semibold:focus { font-weight: var(--semibold); }
        &-bold:focus { font-weight: var(--bold); }
        &-extrabold:focus { font-weight: var(--extrabold); }
        &-black:focus { font-weight: var(--black); }
    }
}

@media (min-width: 1024px) {
    .lg\:f\:font {
        &-thin:focus { font-weight: var(--thin); }
        &-extralight:focus { font-weight: var(--extralight); }
        &-light:focus { font-weight: var(--light); }
        &-normal:focus { font-weight: var(--normal); }
        &-medium:focus { font-weight: var(--medium); }
        &-semibold:focus { font-weight: var(--semibold); }
        &-bold:focus { font-weight: var(--bold); }
        &-extrabold:focus { font-weight: var(--extrabold); }
        &-black:focus { font-weight: var(--black); }
    }
}

@media (min-width: 1280px) {
    .xl\:f\:font {
        &-thin:focus { font-weight: var(--thin); }
        &-extralight:focus { font-weight: var(--extralight); }
        &-light:focus { font-weight: var(--light); }
        &-normal:focus { font-weight: var(--normal); }
        &-medium:focus { font-weight: var(--medium); }
        &-semibold:focus { font-weight: var(--semibold); }
        &-bold:focus { font-weight: var(--bold); }
        &-extrabold:focus { font-weight: var(--extrabold); }
        &-black:focus { font-weight: var(--black); }
    }
}

// F-WITHIN:FONT-WEIGHT ARENA //
.f-within\:font {
    &-thin:focus-within { font-weight: var(--thin); }
    &-extralight:focus-within { font-weight: var(--extralight); }
    &-light:focus-within { font-weight: var(--light); }
    &-normal:focus-within { font-weight: var(--normal); }
    &-medium:focus-within { font-weight: var(--medium); }
    &-semibold:focus-within { font-weight: var(--semibold); }
    &-bold:focus-within { font-weight: var(--bold); }
    &-extrabold:focus-within { font-weight: var(--extrabold); }
    &-black:focus-within { font-weight: var(--black); }
}

// F-WITHIN:FONT-WEIGHT @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:f-within\:font {
        &-thin:focus-within { font-weight: var(--thin); }
        &-extralight:focus-within { font-weight: var(--extralight); }
        &-light:focus-within { font-weight: var(--light); }
        &-normal:focus-within { font-weight: var(--normal); }
        &-medium:focus-within { font-weight: var(--medium); }
        &-semibold:focus-within { font-weight: var(--semibold); }
        &-bold:focus-within { font-weight: var(--bold); }
        &-extrabold:focus-within { font-weight: var(--extrabold); }
        &-black:focus-within { font-weight: var(--black); }
    }
}

@media (max-width: 800px) {
    .md\:f-within\:font {
        &-thin:focus-within { font-weight: var(--thin); }
        &-extralight:focus-within { font-weight: var(--extralight); }
        &-light:focus-within { font-weight: var(--light); }
        &-normal:focus-within { font-weight: var(--normal); }
        &-medium:focus-within { font-weight: var(--medium); }
        &-semibold:focus-within { font-weight: var(--semibold); }
        &-bold:focus-within { font-weight: var(--bold); }
        &-extrabold:focus-within { font-weight: var(--extrabold); }
        &-black:focus-within { font-weight: var(--black); }
    }
}

@media (min-width: 1024px) {
    .lg\:f-within\:font {
        &-thin:focus-within { font-weight: var(--thin); }
        &-extralight:focus-within { font-weight: var(--extralight); }
        &-light:focus-within { font-weight: var(--light); }
        &-normal:focus-within { font-weight: var(--normal); }
        &-medium:focus-within { font-weight: var(--medium); }
        &-semibold:focus-within { font-weight: var(--semibold); }
        &-bold:focus-within { font-weight: var(--bold); }
        &-extrabold:focus-within { font-weight: var(--extrabold); }
        &-black:focus-within { font-weight: var(--black); }
    }
}

@media (min-width: 1280px) {
    .xl\:f-within\:font {
        &-thin:focus-within { font-weight: var(--thin); }
        &-extralight:focus-within { font-weight: var(--extralight); }
        &-light:focus-within { font-weight: var(--light); }
        &-normal:focus-within { font-weight: var(--normal); }
        &-medium:focus-within { font-weight: var(--medium); }
        &-semibold:focus-within { font-weight: var(--semibold); }
        &-bold:focus-within { font-weight: var(--bold); }
        &-extrabold:focus-within { font-weight: var(--extrabold); }
        &-black:focus-within { font-weight: var(--black); }
    }
}

// FONT-ITALIC ARENA //
.font {
    &-italic { font-style: var(--italic); }
    &-normal { font-style: var(--normal); }
    &-oblique { font-style: var(--oblique); }
}

.h\:font {
    &-italic:hover { font-style: var(--italic); }
    &-normal:hover { font-style: var(--normal); }
    &-oblique:hover { font-style: var(--oblique); }
}

.a\:font {
    &-italic:active { font-style: var(--italic); }
    &-normal:active { font-style: var(--normal); }
    &-oblique:active { font-style: var(--oblique); }
}

.f\:font {
    &-italic:focus { font-style: var(--italic); }
    &-normal:focus { font-style: var(--normal); }
    &-oblique:focus { font-style: var(--oblique); }
}

// FONT-ITALIC @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:font {
        &-italic { font-style: var(--italic); }
        &-normal { font-style: var(--normal); }
        &-oblique { font-style: var(--oblique); }
    }
}

@media (max-width: 800px) {
    .md\:font {
        &-italic { font-style: var(--italic); }
        &-normal { font-style: var(--normal); }
        &-oblique { font-style: var(--oblique); }
    }
}

@media (min-width: 1024px) {
    .lg\:font {
        &-italic { font-style: var(--italic); }
        &-normal { font-style: var(--normal); }
        &-oblique { font-style: var(--oblique); }
    }
}

@media (min-width: 1280px) {
    .xl\:font {
        &-italic { font-style: var(--italic); }
        &-normal { font-style: var(--normal); }
        &-oblique { font-style: var(--oblique); }
    }
}

// H:FONT-ITALIC @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:h\:font {
        &-italic:hover { font-style: var(--italic); }
        &-normal:hover { font-style: var(--normal); }
        &-oblique:hover { font-style: var(--oblique); }
    }
}

@media (max-width: 800px) {
    .md\:h\:font {
        &-italic:hover { font-style: var(--italic); }
        &-normal:hover { font-style: var(--normal); }
        &-oblique:hover { font-style: var(--oblique); }
    }
}

@media (min-width: 1024px) {
    .lg\:h\:font {
        &-italic:hover { font-style: var(--italic); }
        &-normal:hover { font-style: var(--normal); }
        &-oblique:hover { font-style: var(--oblique); }
    }
}

@media (min-width: 1280px) {
    .xl\:h\:font {
        &-italic:hover { font-style: var(--italic); }
        &-normal:hover { font-style: var(--normal); }
        &-oblique:hover { font-style: var(--oblique); }
    }
}

// A:FONT-ITALIC @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:a\:font {
        &-italic:active { font-style: var(--italic); }
        &-normal:active { font-style: var(--normal); }
        &-oblique:active { font-style: var(--oblique); }
    }
}

@media (max-width: 800px) {
    .md\:a\:font {
        &-italic:active { font-style: var(--italic); }
        &-normal:active { font-style: var(--normal); }
        &-oblique:active { font-style: var(--oblique); }
    }
}

@media (min-width: 1024px) {
    .lg\:a\:font {
        &-italic:active { font-style: var(--italic); }
        &-normal:active { font-style: var(--normal); }
        &-oblique:active { font-style: var(--oblique); }
    }
}

@media (min-width: 1280px) {
    .xl\:a\:font {
        &-italic:active { font-style: var(--italic); }
        &-normal:active { font-style: var(--normal); }
        &-oblique:active { font-style: var(--oblique); }
    }
}

// F:FONT-ITALIC @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:f\:font {
        &-italic:focus { font-style: var(--italic); }
        &-normal:focus { font-style: var(--normal); }
        &-oblique:focus { font-style: var(--oblique); }
    }
}

@media (max-width: 800px) {
    .md\:f\:font {
        &-italic:focus { font-style: var(--italic); }
        &-normal:focus { font-style: var(--normal); }
        &-oblique:focus { font-style: var(--oblique); }
    }
}

@media (min-width: 1024px) {
    .lg\:f\:font {
        &-italic:focus { font-style: var(--italic); }
        &-normal:focus { font-style: var(--normal); }
        &-oblique:focus { font-style: var(--oblique); }
    }
}

@media (min-width: 1280px) {
    .xl\:f\:font {
        &-italic:focus { font-style: var(--italic); }
        &-normal:focus { font-style: var(--normal); }
        &-oblique:focus { font-style: var(--oblique); }
    }
}

// DEFAULT FONT-SIZE ARENA //
.font {
    &-smaller { font-size: var(--smaller); }
    &-small { font-size: var(--small); }
    &-xsmall { font-size: var(--xsmall); }
    &-xxsmall { font-size: var(--xxsmall); }
    &-medium { font-size: var(--medium); }
    &-larger { font-size: var(--larger); }
    &-large { font-size: var(--large) };
    &-xlarge { font-size: var(--xlarge); }
    &-xxlarge { font-size: var(--xxlarge); }
}

// DEFAULT FONT-SIZE @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:font {
        &-smaller { font-size: var(--smaller); }
        &-small { font-size: var(--small); }
        &-xsmall { font-size: var(--xsmall); }
        &-xxsmall { font-size: var(--xxsmall); }
        &-medium { font-size: var(--medium); }
        &-larger { font-size: var(--larger); }
        &-large { font-size: var(--large) };
        &-xlarge { font-size: var(--xlarge); }
        &-xxlarge { font-size: var(--xxlarge); }
    }
}

@media (max-width: 800px) {
    .md\:font {
        &-smaller { font-size: var(--smaller); }
        &-small { font-size: var(--small); }
        &-xsmall { font-size: var(--xsmall); }
        &-xxsmall { font-size: var(--xxsmall); }
        &-medium { font-size: var(--medium); }
        &-larger { font-size: var(--larger); }
        &-large { font-size: var(--large) };
        &-xlarge { font-size: var(--xlarge); }
        &-xxlarge { font-size: var(--xxlarge); }
    }
}

@media (min-width: 1024px) {
    .lg\:font {
        &-smaller { font-size: var(--smaller); }
        &-small { font-size: var(--small); }
        &-xsmall { font-size: var(--xsmall); }
        &-xxsmall { font-size: var(--xxsmall); }
        &-medium { font-size: var(--medium); }
        &-larger { font-size: var(--larger); }
        &-large { font-size: var(--large) };
        &-xlarge { font-size: var(--xlarge); }
        &-xxlarge { font-size: var(--xxlarge); }
    }
}

@media (min-width: 1280px) {
    .xl\:font {
        &-smaller { font-size: var(--smaller); }
        &-small { font-size: var(--small); }
        &-xsmall { font-size: var(--xsmall); }
        &-xxsmall { font-size: var(--xxsmall); }
        &-medium { font-size: var(--medium); }
        &-larger { font-size: var(--larger); }
        &-large { font-size: var(--large) };
        &-xlarge { font-size: var(--xlarge); }
        &-xxlarge { font-size: var(--xxlarge); }
    }
}

// FONT CLAMP;
.font-clamp {

    padding: 1em;
    // width: clamp(50%, 5vw, 50%);
    font-size: clamp(15px, 5vw, 15px);

}

@media (max-width: 50em) {
    .font-clamp {
        padding: 1em;
        // width: clamp(10%, 5vw, 10%);
        // font-size: clamp(15px, 5vw, 15px);
    }
}

@media (min-width: 640px) {
    .font-clamp {
        padding: 1em;
        background-color: yellow;
    }
}