.font-arial { font-family: Arial, Helvetica, sans-serif; }
.font-cambria { font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
.font-georgia { font-family: Georgia, 'Times New Roman', Times, serif; }
.font-impact { font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; }
.font-verdana { font-family: Verdana, Geneva, Tahoma, sans-serif; }
.font-cursive { font-family: cursive; }
.font-fantasy { font-family: fantasy; }
.font-monospace { font-family: monospace; }
.font-sans-serif { font-family: sans-serif; }
.font-serif { font-family: serif; }
.font-sans-apple { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

// font weight

.font-thin { font-weight: 100; }

.font-extralight { font-weight: 200; }

.font-light { font-weight: 300; }

.font-normal { font-weight: 400; }

.font-medium { font-weight: 500; }

.font-semibold { font-weight: 600; }

.font-bold { font-weight: 700; }

.font-extrabold { font-weight: 800; }

.font-black { font-weight: 900; }

.bold { font-weight: bold; }

.bolder { font-weight: bolder; }

// 

.font-italic { font-style: italic; }

.font-normal { font-style: normal; }

.font-oblique { font-style: oblique; }

// FONT CLAMP;

.font-clamp {

    padding: 1em;
    // width: clamp(50%, 5vw, 50%);
    font-size: clamp(15px, 5vw, 15px);

}

@media (max-width: 50em) {
    .font-clamp {
        padding: 1em;
        // width: clamp(10%, 5vw, 10%);
        // font-size: clamp(15px, 5vw, 15px);
    }
}

@media (min-width: 640px) {
    .font-clamp {
        padding: 1em;
        background-color: yellow;
    }
}