.h-auto { height: auto; }

.h-full { height: 100%; }

// NOT SURE TITLE

.h-5 { height: 5%; }

.h-10 { height: 10%; }

.h-15 { height: 15%; }

.h-20 { height: 20%; }

.h-25 { height: 25%; }

.h-30 { height: 30%; }

.h-35 { height: 35%; }

.h-40 { height: 40%; }

.h-45 { height: 45%; }

.h-50 { height: 50%; }

.w-60 { height: 60%; }

.h-80 { height: 80%; }

.h-90 { height: 90%; }

// MAX-HEIGHT

.mxh-auto { max-height: auto; }

.mxh-5 { max-height: 5%; }

.mxh-10 { max-height: 10%; }

.mxh-15 { max-height: 15%; }

.mxh-20 { max-height: 20%; }

.mxh-15 { max-height: 15%; }

.mxh-25 { max-height: 25%; }

.mxh-30 { max-height: 30%; }

.mxh-35 { max-height: 35%; }

.mxh-40 { max-height: 40%; }

.mxh-45 { max-height: 45%; }

.mxh-50 { max-height: 50%; }

.mxh-60 { max-height: 60%; }

.mxh-80 { max-height: 80%; }

.mxh-90 { max-height: 90%; }

.mxh-100 { max-height: 100%; }

// MIN-HEIGHT

.mnh-auto { min-height: auto; }

.mnh-5 { min-height: 5%; }

.mnh-10 { min-height: 10%; }

.mnh-15 { min-height: 15%; }

.mnh-20 { min-height: 20%; }

.mnh-15 { min-height: 15%; }

.mnh-25 { min-height: 25%; }

.mnh-30 { min-height: 30%; }

.mnh-35 { min-height: 35%; }

.mnh-40 { min-height: 40%; }

.mnh-45 { min-height: 45%; }

.mnh-50 { min-height: 50%; }

.mnh-60 { min-height: 60%; }

.mnh-80 { min-height: 80%; }

.mnh-90 { min-height: 90%; }

.mnh-100 { min-height: 100%; }
.mnh-100vh { min-height: 100vh; }

// HEIGHT PX;

.h-60px { height: 60px; }

// HEIGHT VH;

.h-100vh { height: 100vh; }