// BASIC HEIGHT ARENA //
.h {
    &-auto { height: auto; }
    &-screen { height: 100vh; }
    &-full { height: 100%; }

    // FROM TAILWINDS
    &-0 { height: 0px; }
    &-0\x5 { height: 0.125rem; }
    &-1 { height: 0.25rem; }
    &-1\x5 { height: 0.375rem; }
    &-2 { height: 0.5rem; }
    &-2\x5 { height: 0.625rem; }
    &-3 { height: 0.75rem; }
    &-3\x5 { height: 0.875rem; }
    &-4 { height: 1rem; }
    &-5 { height: 1.25rem; }
    &-6 { height: 1.5rem; }
    &-7 { height: 1.75rem; }
    &-8 { height: 2rem; }
    &-9 { height: 2.25rem; }
    &-10 { height: 2.5rem; }
    &-11 { height: 2.75rem; }
    &-12 { height: 3rem; }
    &-14 { height: 3.5rem; }
    &-16 { height: 4rem; }
    &-20 { height: 5rem; }
    &-24 { height: 6rem; }
    &-28 { height: 7rem; }
    &-32 { height: 8rem; }
    &-36 { height: 9rem; }
    &-40 { height: 10rem; }
    &-44 { height: 11rem; }
    &-48 { height: 12rem; }
    &-52 { height: 13rem; }
    &-56 { height: 14rem; }
    &-60 { height: 15rem; }
    &-64 { height: 16rem; }
    &-72 { height: 18rem; }
    &-80 { height: 20rem; }
    &-96 { height: 24rem; }
    &-px { height: 1px; }
    &-1\x2 { height: 50%; }
    &-1\x3 { height: 33.333333%; }
    &-2\x3 { height: 66.666667%; }
    &-1\x4 { height: 25%; }
    &-2\x4 { height: 50vh; }
    &-3\x4 { height: 75%; }
    &-1\x5 { height: 20%; }
    &-2\x5 { height: 40%; }
    &-3\x5 { height: 60%; }
    &-4\x5 { height: 80%; }
    &-1\x6 { height: 16.666667%; }
    &-2\x6 { height: 33.333333%; }
    &-3\x6 { height: 50%; }
    &-4\x6 { height: 66.666667%; }
    &-5\x6 { height: 83.333333%; }
}

// BASIC HEIGHT @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:h {
        &-auto { height: auto; }
        &-screen { height: 100vh; }
        &-full { height: 100%; }
    
        // FROM TAILWINDS
        &-0 { height: 0px; }
        &-0\x5 { height: 0.125rem; }
        &-1 { height: 0.25rem; }
        &-1\x5 { height: 0.375rem; }
        &-2 { height: 0.5rem; }
        &-2\x5 { height: 0.625rem; }
        &-3 { height: 0.75rem; }
        &-3\x5 { height: 0.875rem; }
        &-4 { height: 1rem; }
        &-5 { height: 1.25rem; }
        &-6 { height: 1.5rem; }
        &-7 { height: 1.75rem; }
        &-8 { height: 2rem; }
        &-9 { height: 2.25rem; }
        &-10 { height: 2.5rem; }
        &-11 { height: 2.75rem; }
        &-12 { height: 3rem; }
        &-14 { height: 3.5rem; }
        &-16 { height: 4rem; }
        &-20 { height: 5rem; }
        &-24 { height: 6rem; }
        &-28 { height: 7rem; }
        &-32 { height: 8rem; }
        &-36 { height: 9rem; }
        &-40 { height: 10rem; }
        &-44 { height: 11rem; }
        &-48 { height: 12rem; }
        &-52 { height: 13rem; }
        &-56 { height: 14rem; }
        &-60 { height: 15rem; }
        &-64 { height: 16rem; }
        &-72 { height: 18rem; }
        &-80 { height: 20rem; }
        &-96 { height: 24rem; }
        &-px { height: 1px; }
        &-1\x2 { height: 50%; }
        &-1\x3 { height: 33.333333%; }
        &-2\x3 { height: 66.666667%; }
        &-1\x4 { height: 25%; }
        &-2\x4 { height: 50vh; }
        &-3\x4 { height: 75%; }
        &-1\x5 { height: 20%; }
        &-2\x5 { height: 40%; }
        &-3\x5 { height: 60%; }
        &-4\x5 { height: 80%; }
        &-1\x6 { height: 16.666667%; }
        &-2\x6 { height: 33.333333%; }
        &-3\x6 { height: 50%; }
        &-4\x6 { height: 66.666667%; }
        &-5\x6 { height: 83.333333%; }
    }
}

@media (max-width: 800px) {
    .md\:h {
        &-auto { height: auto; }
        &-screen { height: 100vh; }
        &-full { height: 100%; }
    
        // FROM TAILWINDS
        &-0 { height: 0px; }
        &-0\x5 { height: 0.125rem; }
        &-1 { height: 0.25rem; }
        &-1\x5 { height: 0.375rem; }
        &-2 { height: 0.5rem; }
        &-2\x5 { height: 0.625rem; }
        &-3 { height: 0.75rem; }
        &-3\x5 { height: 0.875rem; }
        &-4 { height: 1rem; }
        &-5 { height: 1.25rem; }
        &-6 { height: 1.5rem; }
        &-7 { height: 1.75rem; }
        &-8 { height: 2rem; }
        &-9 { height: 2.25rem; }
        &-10 { height: 2.5rem; }
        &-11 { height: 2.75rem; }
        &-12 { height: 3rem; }
        &-14 { height: 3.5rem; }
        &-16 { height: 4rem; }
        &-20 { height: 5rem; }
        &-24 { height: 6rem; }
        &-28 { height: 7rem; }
        &-32 { height: 8rem; }
        &-36 { height: 9rem; }
        &-40 { height: 10rem; }
        &-44 { height: 11rem; }
        &-48 { height: 12rem; }
        &-52 { height: 13rem; }
        &-56 { height: 14rem; }
        &-60 { height: 15rem; }
        &-64 { height: 16rem; }
        &-72 { height: 18rem; }
        &-80 { height: 20rem; }
        &-96 { height: 24rem; }
        &-px { height: 1px; }
        &-1\x2 { height: 50%; }
        &-1\x3 { height: 33.333333%; }
        &-2\x3 { height: 66.666667%; }
        &-1\x4 { height: 25%; }
        &-2\x4 { height: 50vh; }
        &-3\x4 { height: 75%; }
        &-1\x5 { height: 20%; }
        &-2\x5 { height: 40%; }
        &-3\x5 { height: 60%; }
        &-4\x5 { height: 80%; }
        &-1\x6 { height: 16.666667%; }
        &-2\x6 { height: 33.333333%; }
        &-3\x6 { height: 50%; }
        &-4\x6 { height: 66.666667%; }
        &-5\x6 { height: 83.333333%; }
    }
}

@media (min-width: 1024px) {
    .lg\:h {
        &-auto { height: auto; }
        &-screen { height: 100vh; }
        &-full { height: 100%; }
    
        // FROM TAILWINDS
        &-0 { height: 0px; }
        &-0\x5 { height: 0.125rem; }
        &-1 { height: 0.25rem; }
        &-1\x5 { height: 0.375rem; }
        &-2 { height: 0.5rem; }
        &-2\x5 { height: 0.625rem; }
        &-3 { height: 0.75rem; }
        &-3\x5 { height: 0.875rem; }
        &-4 { height: 1rem; }
        &-5 { height: 1.25rem; }
        &-6 { height: 1.5rem; }
        &-7 { height: 1.75rem; }
        &-8 { height: 2rem; }
        &-9 { height: 2.25rem; }
        &-10 { height: 2.5rem; }
        &-11 { height: 2.75rem; }
        &-12 { height: 3rem; }
        &-14 { height: 3.5rem; }
        &-16 { height: 4rem; }
        &-20 { height: 5rem; }
        &-24 { height: 6rem; }
        &-28 { height: 7rem; }
        &-32 { height: 8rem; }
        &-36 { height: 9rem; }
        &-40 { height: 10rem; }
        &-44 { height: 11rem; }
        &-48 { height: 12rem; }
        &-52 { height: 13rem; }
        &-56 { height: 14rem; }
        &-60 { height: 15rem; }
        &-64 { height: 16rem; }
        &-72 { height: 18rem; }
        &-80 { height: 20rem; }
        &-96 { height: 24rem; }
        &-px { height: 1px; }
        &-1\x2 { height: 50%; }
        &-1\x3 { height: 33.333333%; }
        &-2\x3 { height: 66.666667%; }
        &-1\x4 { height: 25%; }
        &-2\x4 { height: 50vh; }
        &-3\x4 { height: 75%; }
        &-1\x5 { height: 20%; }
        &-2\x5 { height: 40%; }
        &-3\x5 { height: 60%; }
        &-4\x5 { height: 80%; }
        &-1\x6 { height: 16.666667%; }
        &-2\x6 { height: 33.333333%; }
        &-3\x6 { height: 50%; }
        &-4\x6 { height: 66.666667%; }
        &-5\x6 { height: 83.333333%; }
    }
}

@media (min-width: 1280px) {
    .xl\:h {
        &-auto { height: auto; }
        &-screen { height: 100vh; }
        &-full { height: 100%; }
    
        // FROM TAILWINDS
        &-0 { height: 0px; }
        &-0\x5 { height: 0.125rem; }
        &-1 { height: 0.25rem; }
        &-1\x5 { height: 0.375rem; }
        &-2 { height: 0.5rem; }
        &-2\x5 { height: 0.625rem; }
        &-3 { height: 0.75rem; }
        &-3\x5 { height: 0.875rem; }
        &-4 { height: 1rem; }
        &-5 { height: 1.25rem; }
        &-6 { height: 1.5rem; }
        &-7 { height: 1.75rem; }
        &-8 { height: 2rem; }
        &-9 { height: 2.25rem; }
        &-10 { height: 2.5rem; }
        &-11 { height: 2.75rem; }
        &-12 { height: 3rem; }
        &-14 { height: 3.5rem; }
        &-16 { height: 4rem; }
        &-20 { height: 5rem; }
        &-24 { height: 6rem; }
        &-28 { height: 7rem; }
        &-32 { height: 8rem; }
        &-36 { height: 9rem; }
        &-40 { height: 10rem; }
        &-44 { height: 11rem; }
        &-48 { height: 12rem; }
        &-52 { height: 13rem; }
        &-56 { height: 14rem; }
        &-60 { height: 15rem; }
        &-64 { height: 16rem; }
        &-72 { height: 18rem; }
        &-80 { height: 20rem; }
        &-96 { height: 24rem; }
        &-px { height: 1px; }
        &-1\x2 { height: 50%; }
        &-1\x3 { height: 33.333333%; }
        &-2\x3 { height: 66.666667%; }
        &-1\x4 { height: 25%; }
        &-2\x4 { height: 50vh; }
        &-3\x4 { height: 75%; }
        &-1\x5 { height: 20%; }
        &-2\x5 { height: 40%; }
        &-3\x5 { height: 60%; }
        &-4\x5 { height: 80%; }
        &-1\x6 { height: 16.666667%; }
        &-2\x6 { height: 33.333333%; }
        &-3\x6 { height: 50%; }
        &-4\x6 { height: 66.666667%; }
        &-5\x6 { height: 83.333333%; }
    }
}

// NOT SURE TITLE ARENA //
// .h {
//     &-5 { height: 5%; }
//     &-10 { height: 10%; }
//     &-15 { height: 15%; }
//     &-20 { height: 20%; }
//     &-25 { height: 25%; }
//     &-30 { height: 30%; }
//     &-35 { height: 35%; }
//     &-40 { height: 40%; }
//     &-45 { height: 45%; }
//     &-50 { height: 50%; }
//     &-60 { height: 60%; }
//     &-80 { height: 80%; }
//     &-90 { height: 90%; }
// }

// NOT SURE TITLE @MEDIA ARENA //
// @media (max-width: 640px) {
//     .sm\x
// }

// @media (max-width: 800px) {
//     .md\x
// }

// @media (min-width: 1024px) {
//     .lg\x
// }

// @media (min-width: 1280px) {
//     .xl\x
// }

// MAX-HEIGHT ARENA //
.max-h {
    &-auto { max-height: auto; }
    &-5 { max-height: 5%; }
    &-10 { max-height: 10%; }
    &-15 { max-height: 15%; }
    &-20 { max-height: 20%; }
    &-15 { max-height: 15%; }
    &-25 { max-height: 25%; }
    &-30 { max-height: 30%; }
    &-35 { max-height: 35%; }
    &-40 { max-height: 40%; }
    &-45 { max-height: 45%; }
    &-50 { max-height: 50%; }
    &-60 { max-height: 60%; }
    &-80 { max-height: 80%; }
    &-90 { max-height: 90%; }
    &-full { max-height: 100%; }
    &-screen { max-height: 100vh; }
}

// BASIC HEIGHT @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:max-h {
        &-auto { max-height: auto; }
        &-5 { max-height: 5%; }
        &-10 { max-height: 10%; }
        &-15 { max-height: 15%; }
        &-20 { max-height: 20%; }
        &-15 { max-height: 15%; }
        &-25 { max-height: 25%; }
        &-30 { max-height: 30%; }
        &-35 { max-height: 35%; }
        &-40 { max-height: 40%; }
        &-45 { max-height: 45%; }
        &-50 { max-height: 50%; }
        &-60 { max-height: 60%; }
        &-80 { max-height: 80%; }
        &-90 { max-height: 90%; }
        &-full { max-height: 100%; }
        &-screen { max-height: 100vh; }
    }
}

@media (max-width: 800px) {
    .md\:max-h {
        &-auto { max-height: auto; }
        &-5 { max-height: 5%; }
        &-10 { max-height: 10%; }
        &-15 { max-height: 15%; }
        &-20 { max-height: 20%; }
        &-15 { max-height: 15%; }
        &-25 { max-height: 25%; }
        &-30 { max-height: 30%; }
        &-35 { max-height: 35%; }
        &-40 { max-height: 40%; }
        &-45 { max-height: 45%; }
        &-50 { max-height: 50%; }
        &-60 { max-height: 60%; }
        &-80 { max-height: 80%; }
        &-90 { max-height: 90%; }
        &-full { max-height: 100%; }
        &-screen { max-height: 100vh; }
    }
}

@media (min-width: 1024px) {
    .lg\:max-h {
        &-auto { max-height: auto; }
        &-5 { max-height: 5%; }
        &-10 { max-height: 10%; }
        &-15 { max-height: 15%; }
        &-20 { max-height: 20%; }
        &-15 { max-height: 15%; }
        &-25 { max-height: 25%; }
        &-30 { max-height: 30%; }
        &-35 { max-height: 35%; }
        &-40 { max-height: 40%; }
        &-45 { max-height: 45%; }
        &-50 { max-height: 50%; }
        &-60 { max-height: 60%; }
        &-80 { max-height: 80%; }
        &-90 { max-height: 90%; }
        &-full { max-height: 100%; }
        &-screen { max-height: 100vh; }
    }
}

@media (min-width: 1280px) {
    .xl\:max-h {
        &-auto { max-height: auto; }
        &-5 { max-height: 5%; }
        &-10 { max-height: 10%; }
        &-15 { max-height: 15%; }
        &-20 { max-height: 20%; }
        &-15 { max-height: 15%; }
        &-25 { max-height: 25%; }
        &-30 { max-height: 30%; }
        &-35 { max-height: 35%; }
        &-40 { max-height: 40%; }
        &-45 { max-height: 45%; }
        &-50 { max-height: 50%; }
        &-60 { max-height: 60%; }
        &-80 { max-height: 80%; }
        &-90 { max-height: 90%; }
        &-full { max-height: 100%; }
        &-screen { max-height: 100vh; }
    }
}

// MIN-HEIGHT ARENA //
.min-h {
    &-auto { min-height: auto; }
    &-5 { min-height: 5%; }
    &-10 { min-height: 10%; }
    &-15 { min-height: 15%; }
    &-20 { min-height: 20%; }
    &-15 { min-height: 15%; }
    &-25 { min-height: 25%; }
    &-30 { min-height: 30%; }
    &-35 { min-height: 35%; }
    &-40 { min-height: 40%; }
    &-45 { min-height: 45%; }
    &-50 { min-height: 50%; }
    &-60 { min-height: 60%; }
    &-80 { min-height: 80%; }
    &-90 { min-height: 90%; }
    &-full { min-height: 100%; }
    &-screen { min-height: 100vh; }
}

// BASIC HEIGHT @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:min-h {
        &-auto { min-height: auto; }
        &-5 { min-height: 5%; }
        &-10 { min-height: 10%; }
        &-15 { min-height: 15%; }
        &-20 { min-height: 20%; }
        &-15 { min-height: 15%; }
        &-25 { min-height: 25%; }
        &-30 { min-height: 30%; }
        &-35 { min-height: 35%; }
        &-40 { min-height: 40%; }
        &-45 { min-height: 45%; }
        &-50 { min-height: 50%; }
        &-60 { min-height: 60%; }
        &-80 { min-height: 80%; }
        &-90 { min-height: 90%; }
        &-full { min-height: 100%; }
        &-screen { min-height: 100vh; }
    }
}

@media (max-width: 800px) {
    .md\:min-h {
        &-auto { min-height: auto; }
        &-5 { min-height: 5%; }
        &-10 { min-height: 10%; }
        &-15 { min-height: 15%; }
        &-20 { min-height: 20%; }
        &-15 { min-height: 15%; }
        &-25 { min-height: 25%; }
        &-30 { min-height: 30%; }
        &-35 { min-height: 35%; }
        &-40 { min-height: 40%; }
        &-45 { min-height: 45%; }
        &-50 { min-height: 50%; }
        &-60 { min-height: 60%; }
        &-80 { min-height: 80%; }
        &-90 { min-height: 90%; }
        &-full { min-height: 100%; }
        &-screen { min-height: 100vh; }
    }
}

@media (min-width: 1024px) {
    .lg\:min-h {
        &-auto { min-height: auto; }
        &-5 { min-height: 5%; }
        &-10 { min-height: 10%; }
        &-15 { min-height: 15%; }
        &-20 { min-height: 20%; }
        &-15 { min-height: 15%; }
        &-25 { min-height: 25%; }
        &-30 { min-height: 30%; }
        &-35 { min-height: 35%; }
        &-40 { min-height: 40%; }
        &-45 { min-height: 45%; }
        &-50 { min-height: 50%; }
        &-60 { min-height: 60%; }
        &-80 { min-height: 80%; }
        &-90 { min-height: 90%; }
        &-full { min-height: 100%; }
        &-screen { min-height: 100vh; }
    }
}

@media (min-width: 1280px) {
    .xl\:min-h {
        &-auto { min-height: auto; }
        &-5 { min-height: 5%; }
        &-10 { min-height: 10%; }
        &-15 { min-height: 15%; }
        &-20 { min-height: 20%; }
        &-15 { min-height: 15%; }
        &-25 { min-height: 25%; }
        &-30 { min-height: 30%; }
        &-35 { min-height: 35%; }
        &-40 { min-height: 40%; }
        &-45 { min-height: 45%; }
        &-50 { min-height: 50%; }
        &-60 { min-height: 60%; }
        &-80 { min-height: 80%; }
        &-90 { min-height: 90%; }
        &-full { min-height: 100%; }
        &-screen { min-height: 100vh; }
    }
}

// HEIGHT PX; ARENA //
.h-60px { height: 60px; }

// HEIGHT VH;
// .h-screen { height: 100vh; }

.scroll-padding-top {
    height: 5%;
    scroll-padding-top: 1rem 0 0;
}

// FROM TAILWINDS
.h {
    &-0 { height: 0px; }
    &-0\x5 { height: 0.125rem; }
    &-1 { height: 0.25rem; }
    &-1\x5 { height: 0.375rem; }
    &-2 { height: 0.5rem; }
    &-2\x5 { height: 0.625rem; }
    &-3 { height: 0.75rem; }
    &-3\x5 { height: 0.875rem; }
    &-4 { height: 1rem; }
    &-5 { height: 1.25rem; }
    &-6 { height: 1.5rem; }
    &-7 { height: 1.75rem; }
    &-8 { height: 2rem; }
    &-9 { height: 2.25rem; }
    &-10 { height: 2.5rem; }
    &-11 { height: 2.75rem; }
    &-12 { height: 3rem; }
    &-14 { height: 3.5rem; }
    &-16 { height: 4rem; }
    &-20 { height: 5rem; }
    &-24 { height: 6rem; }
    &-28 { height: 7rem; }
    &-32 { height: 8rem; }
    &-36 { height: 9rem; }
    &-40 { height: 10rem; }
    &-44 { height: 11rem; }
    &-48 { height: 12rem; }
    &-52 { height: 13rem; }
    &-56 { height: 14rem; }
    &-60 { height: 15rem; }
    &-64 { height: 16rem; }
    &-72 { height: 18rem; }
    &-80 { height: 20rem; }
    &-96 { height: 24rem; }
    &-px { height: 1px; }
    &-1\x2 { height: 50%; }
    &-1\x3 { height: 33.333333%; }
    &-2\x3 { height: 66.666667%; }
    &-1\x4 { height: 25%; }
    &-2\x4 { height: 50vh; }
    &-3\x4 { height: 75%; }
    &-1\x5 { height: 20%; }
    &-2\x5 { height: 40%; }
    &-3\x5 { height: 60%; }
    &-4\x5 { height: 80%; }
    &-1\x6 { height: 16.666667%; }
    &-2\x6 { height: 33.333333%; }
    &-3\x6 { height: 50%; }
    &-4\x6 { height: 66.666667%; }
    &-5\x6 { height: 83.333333%; }
    &-6\x6 { height: 89.333333%; }
    &-7\x6 { height: 99.333333%; }
}

// BASIC HEIGHT @MEDIA ARENA //
// @media (max-width: 640px) {
//     .sm\x
// }

// @media (max-width: 800px) {
//     .md\x
// }

// @media (min-width: 1024px) {
//     .lg\x
// }

// @media (min-width: 1280px) {
//     .xl\x
// }