// img is default: display: inline-block

// img::selection {}

// OBJECT IMMAGE ARENA //
.object {
    &-contain { object-fit: contain; }
    &-fit { object-fit: cover; }
    &-fill { object-fit: fill; }
    &-none { object-fit: none; }
    &-scale-down { object-fit: scale-down; }
    &-inherit { object-fit: inherit; }
    &-initial { object-fit: initial; }
    &-unset { object-fit: unset; }
}

// OBJECT IMMAGE @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:object {
        &-contain { object-fit: contain; }
        &-fit { object-fit: cover; }
        &-fill { object-fit: fill; }
        &-none { object-fit: none; }
        &-scale-down { object-fit: scale-down; }
        &-inherit { object-fit: inherit; }
        &-initial { object-fit: initial; }
        &-unset { object-fit: unset; }
    }
}

@media (max-width: 800px) {
    .md\:object {
        &-contain { object-fit: contain; }
        &-fit { object-fit: cover; }
        &-fill { object-fit: fill; }
        &-none { object-fit: none; }
        &-scale-down { object-fit: scale-down; }
        &-inherit { object-fit: inherit; }
        &-initial { object-fit: initial; }
        &-unset { object-fit: unset; }
    }
}

@media (min-width: 1024px) {
    .lg\:object {
        &-contain { object-fit: contain; }
        &-fit { object-fit: cover; }
        &-fill { object-fit: fill; }
        &-none { object-fit: none; }
        &-scale-down { object-fit: scale-down; }
        &-inherit { object-fit: inherit; }
        &-initial { object-fit: initial; }
        &-unset { object-fit: unset; }
    }
}

@media (min-width: 1280px) {
    .xl\:object {
        &-contain { object-fit: contain; }
        &-fit { object-fit: cover; }
        &-fill { object-fit: fill; }
        &-none { object-fit: none; }
        &-scale-down { object-fit: scale-down; }
        &-inherit { object-fit: inherit; }
        &-initial { object-fit: initial; }
        &-unset { object-fit: unset; }
    }
}

.background-position {

    background-position: center;

}


// POINTER-EVENTS ARENA
.pointer-events-all {
    pointer-events: all;

    @media (max-width: 640px) {
        .sm\:pointer-events-all {
            pointer-events: all;
        }
    }
}

.pointer-events-fill {
    pointer-events: fill;

    @media (max-width: 640px) {
        .sm\:pointer-events-fill {
            pointer-events: fill;
        }
    }
}

.pointer-events-none {
    pointer-events: none;

    @media (max-width: 640px) {
        .sm\:pointer-events-none {
            pointer-events: none;
        }
    }
}

.pointer-events-painted {
    pointer-events: painted;

    @media (max-width: 640px) {
        .sm\:pointer-events-painted {
            pointer-events: painted;
        }
    }
}

.pointer-events-stroke {
    pointer-events: stroke;

    @media (max-width: 640px) {
        .sm\:pointer-events-stroke {
            pointer-events: stroke;
        }
    }
}

.pointer-events-visible {
    pointer-events: visible;

    @media (max-width: 640px) {
        .sm\:pointer-events-visible {
            pointer-events: visible;
        }
    }
}

.pointer-events-visibleFill {
    pointer-events: visibleFill;

    @media (max-width: 640px) {
        .sm\:pointer-events-visibleFill {
            pointer-events: visibleFill;
        }
    }
}

.pointer-events-visiblePainted {
    pointer-events: visiblePainted;

    @media (max-width: 640px) {
        .sm\:pointer-events-visiblePainted {
            pointer-events: visiblePainted;
        }
    }
}

.pointer-events-visibleStroke {
    pointer-events: visibleStroke;

    @media (max-width: 640px) {
        .sm\:pointer-events-visibleStroke {
            pointer-events: visibleStroke;
        }
    }
}

.pointer-events-inherit {
    pointer-events: inherit;

    @media (max-width: 640px) {
        .sm\:pointer-events-inherit {
            pointer-events: inherit;
        }
    }
}

.pointer-events-initial {
    pointer-events: initial;

    @media (max-width: 640px) {
        .sm\:pointer-events-initial {
            pointer-events: initial;
        }
    }
}

.pointer-events-unset {
    pointer-events: unset;

    @media (max-width: 640px) {
        .sm\:pointer-events-unset {
            pointer-events: unset;
        }
    }
}

// BACKGROUND-ATTACHMENT ARENA //
.bg {
    &-fixed { background-attachment: fixed; }
    &-local { background-attachment: local; }
    &-scroll { background-attachment: scroll; }
    &-inherit { background-attachment: inherit; }
    &-initial { background-attachment: initial; }
    &-unset { background-attachment: unset; }
}

// BACKGROUND-ATTACHMENT @MEDIA ARENA //
@media (max-width: 640px) {
    .sm\:bg {
        &-fixed { background-attachment: fixed; }
        &-local { background-attachment: local; }
        &-scroll { background-attachment: scroll; }
        &-inherit { background-attachment: inherit; }
        &-initial { background-attachment: initial; }
        &-unset { background-attachment: unset; }
    }
}

@media (max-width: 800px) {
    .md\:bg {
        &-fixed { background-attachment: fixed; }
        &-local { background-attachment: local; }
        &-scroll { background-attachment: scroll; }
        &-inherit { background-attachment: inherit; }
        &-initial { background-attachment: initial; }
        &-unset { background-attachment: unset; }
    }
}

@media (min-width: 1024px) {
    .lg\:bg {
        &-fixed { background-attachment: fixed; }
        &-local { background-attachment: local; }
        &-scroll { background-attachment: scroll; }
        &-inherit { background-attachment: inherit; }
        &-initial { background-attachment: initial; }
        &-unset { background-attachment: unset; }
    }
}

@media (min-width: 1280px) {
    .xl\:bg {
        &-fixed { background-attachment: fixed; }
        &-local { background-attachment: local; }
        &-scroll { background-attachment: scroll; }
        &-inherit { background-attachment: inherit; }
        &-initial { background-attachment: initial; }
        &-unset { background-attachment: unset; }
    }
}