.margin {

    margin: 1rem;

}

.m-auto {

    margin: auto;

}

.m-layout {

    margin: auto 140px auto 140px;

}

.m-clamp {

    margin: clamp(auto, 5vw, auto);

}

// my - top / bottom

.my-auto {

    margin-top: auto;
    margin-bottom: auto;

}

.my-1 {

    margin-top: 1rem;
    margin-bottom: 1rem;

}

.my-2 {

    margin-top: 2rem;
    margin-bottom: 2rem;

}

.my-3 {

    margin-top: 3rem;
    margin-bottom: 3rem;

}

.my-4 {

    margin-top: 4rem;
    margin-bottom: 4rem;

}

.my-5 {

    margin-top: 5rem;
    margin-bottom: 5rem;

}

// mx - left / right

.mx-auto {

    margin-left: auto;
    margin-right: auto;

}

.mx-1 {

    margin-left: 1rem;
    margin-right: 1rem;

}

.mx-2 {

    margin-left: 2rem;
    margin-right: 2rem;

}

.mx-3 {

    margin-left: 3rem;
    margin-right: 3rem;

}

.mx-4 {

    margin-left: 4rem;
    margin-right: 4rem;

}

.mx-5 {

    margin-left: 5rem;
    margin-right: 5rem;

}

// Margin - Individual Margin

.m-top {

    margin-top: 1rem;

}

.m-left {

    margin-left: 1rem;

}

.m-right {

    margin-right: 1rem;

}

.m-bottom {

    margin-bottom: 1rem;

}

// mar-top

.mt-0 {

    margin-top: 0px;

}

.mt-0x5 {

    margin-top: 0.125rem;

}

.mt-1 {

    margin-top: 0.25rem;

}


.mt-1x5 {

    margin-top: 0.375rem;

}

.mt-2 {

    margin-top: 0.5rem;

}

.mt-2x5 {

    margin-top: 0.625rem;

}

.mt-3 {

    margin-top: 0.75rem;

}

.mt-3x5 {

    margin-top: 0.875rem;

}

.mt-4 {

    margin-top: 1rem;

}

.mt-5 {

    margin-top: 1.25rem;

}

// Mar Left

.ml-0 {

    margin-left: 0px;

}

.ml-0x5 {

    margin-left: 0.125rem;

}

.ml-1 {

    margin-left: 0.25rem;

}

.ml-1x5 {

    margin-left: 0.375rem;

}

.ml-2 {

    margin-left: 0.5rem;

}

.ml-2x5 {

    margin-left: 0.625rem;

}

.ml-3 {

    margin-left: 0.75rem;

}

.ml-3x5 {

    margin-left: 0.875rem;

}

.ml-4 {

    margin-left: 1rem;

}

.ml-5 {

    margin-left: 1.25rem;

}

// Margin

.mar-top { margin-top: 1rem; }

.mar-left { margin-left: 1rem; }

.mar-right { margin-right: 1rem; }

.mar-buttom { margin-bottom: 1rem; }