// .radius { border-radius: ; }

.radius-full { border-radius: 50%; }

.radius-2px { border-radius: 2px; }

.radius-50 { border-radius: 50px; }

.radius-2rem { border-radius: .2rem; }

.radius-2em { border-radius: .2em; }