button {

    outline: 0;
    cursor: pointer;
    // padding: .30rem;
    isolation: isolate;
    text-align: center;
    background-color: none;

    @media (max-width: 640px) {
        .btn--outline {
            display: flex;
            opacity: 0.40;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }

        .btn--gray {
            display: flex;
            opacity: 0.40;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

}

.btn--gray {

    font-weight: bold;
    text-align: center;
    // color: var(--black);
    padding: .6em 1.6em;
    border-radius: .2em;
    border: 1px solid var(--gray-ccc);
    background-color: var(--bg-gray-ccc);

    &:hover {

        color: var(--black);
        text-decoration: underline;
        background-color: transparent;
        border: 1px solid var(--black);

    }

    &:active {

        border-radius: .2em;
        color: var(--black);
        text-decoration: dashed;
        background-color: transparent;
        border: 1px solid var(--black);
        box-shadow: 3.6px 1px 3.6px -1px #000000;

    }

}

.btn--outline {

    padding: .6em;
    // color: var(--black);
    // border-radius: .2em;
    // border: 1px solid var(--black);

    &:hover {

        opacity: 0.50;

    }

    &:active {

        opacity: 1;
        color: var(--white);
        // background-color: var(--black);

    }

}

// @media (max-width: 30em) {
//     .btn--outline {
//         display: flex;
//         // opacity: 0.40;
//         align-items: center;
//         flex-direction: column;
//         justify-content: center;
//         // background-color: yellow;
//     }
// }

@media (max-width: 50em) {
    .btn--outline {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        // background-color: green;
    }

    .btn--gray {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
}

// @media (min-width: 320px) {
//     .btn--outline {
//         display: flex;
//         // opacity: 0.40;
//         align-items: center;
//         flex-direction: column;
//         justify-content: center;
//         background-color: yellow;
//     }
// }

// @media (min-width: 375px) {
//     .btn--outline {
//         display: flex;
//         // opacity: 0.40;
//         align-items: center;
//         flex-direction: column;
//         justify-content: center;
//         background-color: yellow;
//     }
// }

// @media (min-width: 640px) {
//     .btn--outline {
//         display: flex;
//         // opacity: 0.40;
//         align-items: center;
//         flex-direction: column;
//         justify-content: center;
//         background-color: yellow;
//     }
// }

// @media (min-width: 768px) {
//     .btn--outline {
//         display: flex;
//         // opacity: 0.40;
//         align-items: center;
//         flex-direction: column;
//         justify-content: center;
//         background-color: green;
//     }
// }

// @media (min-width: 1024px) {
//     .btn--outline {
//         display: flex;
//         color: var(--white);
//         // align-items: center;
//         flex-direction: column;
//         // justify-content: center;
//         background-color: greenyellow;
//     }
// }

// @media (min-width: 1280px) {
//     .btn--outline {
//         display: flex;
//         color: var(--white);
//         align-items: center;
//         flex-direction: column;
//         justify-content: center;
//         background-color: blue;
//     }
// }

// @media (min-width: 1536px) {
//     .btn--outline {
//         display: flex;
//         color: var(--white);
//         align-items: center;
//         flex-direction: column;
//         justify-content: center;
//         background-color: blueviolet;
//     }
// }