.FAQs-container {
    height: 100vh;
    background-color: blueviolet;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.FAQs {
    width: 50%;
    // height: 10vh;
    border-radius: .6em;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    // border: 1px solid var(--black);
    // font-size: clamp(20px, 5vw, 15px);
}

summary {

    outline: none;
    cursor: pointer;

    &::-webkit-details-marker {

        color: transparent;
        // border-radius: .2em;
        // border: 1px solid var(--black);
    
    }

}

// details[open] summary::-webkit-details-marker {
//     background-color: var(--black);
// }

// summary::-webkit-details-marker { color: transparent; }